flux-nodered/feedinpower.json
[
    {
        "id": "f9c19fc3b4cd942b",
        "type": "tab",
        "label": "Charge Current",
        "disabled": false,
        "locked": true,
        "info": "",
        "env": []
    },
    {
        "id": "02d17751f9dd4c7e",
        "type": "inject",
        "z": "f9c19fc3b4cd942b",
        "name": "Check every 5min",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "120",
        "crontab": "",
        "once": true,
        "onceDelay": "0.1",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 150,
        "y": 40,
        "wires": [
            [
                "fdaaa0c3cc033c8a"
            ]
        ]
    },
    {
        "id": "fdaaa0c3cc033c8a",
        "type": "victron-input-vebus",
        "z": "f9c19fc3b4cd942b",
        "service": "com.victronenergy.vebus/275",
        "path": "/Ac/State/IgnoreAcIn1",
        "serviceObj": {
            "service": "com.victronenergy.vebus/275",
            "name": "MultiPlus-II 48/5000/70-50"
        },
        "pathObj": {
            "path": "/Ac/State/IgnoreAcIn1",
            "type": "enum",
            "name": "AC input 1 ignored",
            "enum": {
                "0": "AC input not ignored",
                "1": "AC input ignored"
            }
        },
        "name": "Read AC Input Ignored",
        "onlyChanges": false,
        "outputs": 1,
        "x": 360,
        "y": 40,
        "wires": [
            [
                "2afae9caddde3f98",
                "618fb92f7fc92e8e"
            ]
        ]
    },
    {
        "id": "2afae9caddde3f98",
        "type": "switch",
        "z": "f9c19fc3b4cd942b",
        "name": "Check AC Input",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "1",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "0",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 150,
        "y": 140,
        "wires": [
            [
                "4906e558ab027eac",
                "dd3accdb04372f4a"
            ],
            [
                "34c82a81db87ae3f",
                "6bd2a8ad86ff0f25",
                "fe721c921d8591e0"
            ]
        ]
    },
    {
        "id": "34c82a81db87ae3f",
        "type": "function",
        "z": "f9c19fc3b4cd942b",
        "name": "Set 0A or 4A based on PV excess",
        "func": "let pvExcess = flow.get('pvExcess') || false;\nlet current = pvExcess ? 4 : 0;\n\nmsg.payload = current;\nnode.status({fill:\"blue\",shape:\"dot\",text:`Set ${current}A (PV excess: ${pvExcess})`});\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 420,
        "y": 200,
        "wires": [
            [
                "dca68027e4d330f7"
            ]
        ]
    },
    {
        "id": "4906e558ab027eac",
        "type": "change",
        "z": "f9c19fc3b4cd942b",
        "name": "Set 70A",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "70",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 400,
        "y": 120,
        "wires": [
            [
                "dca68027e4d330f7"
            ]
        ]
    },
    {
        "id": "dd3accdb04372f4a",
        "type": "change",
        "z": "f9c19fc3b4cd942b",
        "name": "PowerAssist ON",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "1",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 180,
        "y": 280,
        "wires": [
            [
                "f90b648d3d51a17f"
            ]
        ]
    },
    {
        "id": "6bd2a8ad86ff0f25",
        "type": "change",
        "z": "f9c19fc3b4cd942b",
        "name": "PowerAssist OFF",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "0",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 190,
        "y": 340,
        "wires": [
            [
                "f90b648d3d51a17f"
            ]
        ]
    },
    {
        "id": "fe721c921d8591e0",
        "type": "change",
        "z": "f9c19fc3b4cd942b",
        "name": "Set Feed-in 0W",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "0",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 180,
        "y": 400,
        "wires": [
            [
                "d1671549a8edb1ef"
            ]
        ]
    },
    {
        "id": "d1671549a8edb1ef",
        "type": "victron-output-settings",
        "z": "f9c19fc3b4cd942b",
        "service": "com.victronenergy.settings",
        "path": "/Settings/CGwacs/MaxFeedInPower",
        "serviceObj": {
            "service": "com.victronenergy.settings",
            "name": "Venus settings"
        },
        "pathObj": {
            "path": "/Settings/CGwacs/MaxFeedInPower",
            "type": "integer",
            "name": "Maximum System Grid Feed In (W)",
            "mode": "both"
        },
        "name": "Write MaxFeedInPower",
        "onlyChanges": false,
        "outputs": 0,
        "x": 440,
        "y": 400,
        "wires": []
    },
    {
        "id": "f90b648d3d51a17f",
        "type": "victron-output-vebus",
        "z": "f9c19fc3b4cd942b",
        "service": "com.victronenergy.vebus/275",
        "path": "/Settings/PowerAssistEnabled",
        "serviceObj": {
            "service": "com.victronenergy.vebus/275",
            "name": "MultiPlus-II 48/5000/70-50"
        },
        "pathObj": {
            "path": "/Settings/PowerAssistEnabled",
            "type": "enum",
            "name": "PowerAssist enabled",
            "enum": {
                "0": "Disabled",
                "1": "Enabled"
            },
            "mode": "both"
        },
        "name": "Write PowerAssist",
        "onlyChanges": false,
        "outputs": 0,
        "x": 410,
        "y": 300,
        "wires": []
    },
    {
        "id": "dca68027e4d330f7",
        "type": "function",
        "z": "f9c19fc3b4cd942b",
        "name": "Send only if changed",
        "func": "let lastValue = context.get('lastChargeCurrent') || null;\nlet newValue = msg.payload;\n\nif (lastValue !== newValue) {\n    context.set('lastChargeCurrent', newValue);\n    node.status({fill:\"green\",shape:\"dot\",text:`Changed to ${newValue}A`});\n    return msg;\n} else {\n    node.status({fill:\"grey\",shape:\"ring\",text:`Unchanged (${newValue}A)`});\n    return null;\n}",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 620,
        "y": 140,
        "wires": [
            [
                "54f0dc609ae6a37f",
                "f956a0e409f2744d"
            ]
        ]
    },
    {
        "id": "54f0dc609ae6a37f",
        "type": "victron-output-custom",
        "z": "f9c19fc3b4cd942b",
        "service": "com.victronenergy.vebus/275",
        "path": "/Dc/0/MaxChargeCurrent",
        "serviceObj": {
            "service": "com.victronenergy.vebus/275",
            "name": "MultiPlus-II 48/5000/70-50 (275)"
        },
        "pathObj": {
            "path": "/Dc/0/MaxChargeCurrent",
            "name": "/Dc/0/MaxChargeCurrent",
            "type": "number",
            "value": 70
        },
        "name": "Write MaxChargeCurrent",
        "onlyChanges": false,
        "outputs": 0,
        "x": 690,
        "y": 260,
        "wires": []
    },
    {
        "id": "f956a0e409f2744d",
        "type": "debug",
        "z": "f9c19fc3b4cd942b",
        "name": "Value sent",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "statusVal": "",
        "statusType": "auto",
        "x": 630,
        "y": 100,
        "wires": []
    },
    {
        "id": "618fb92f7fc92e8e",
        "type": "debug",
        "z": "f9c19fc3b4cd942b",
        "name": "debug 11",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "statusVal": "",
        "statusType": "auto",
        "x": 620,
        "y": 40,
        "wires": []
    },
    {
        "id": "fded37fac7104bc0",
        "type": "inject",
        "z": "f9c19fc3b4cd942b",
        "name": "Manual: Set 0A",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "0",
        "payloadType": "num",
        "x": 680,
        "y": 340,
        "wires": [
            [
                "54f0dc609ae6a37f"
            ]
        ]
    },
    {
        "id": "a5f745b99cea5bba",
        "type": "inject",
        "z": "f9c19fc3b4cd942b",
        "name": "Manual: Set 70A",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "70",
        "payloadType": "num",
        "x": 680,
        "y": 400,
        "wires": [
            [
                "54f0dc609ae6a37f"
            ]
        ]
    },
    {
        "id": "475fcec1d46d1554",
        "type": "inject",
        "z": "f9c19fc3b4cd942b",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "0",
        "payloadType": "num",
        "x": 270,
        "y": 700,
        "wires": [
            [
                "735048cc91eb50fc"
            ]
        ]
    },
    {
        "id": "735048cc91eb50fc",
        "type": "victron-output-settings",
        "z": "f9c19fc3b4cd942b",
        "service": "com.victronenergy.settings",
        "path": "/Settings/CGwacs/AcExportLimit",
        "serviceObj": {
            "service": "com.victronenergy.settings",
            "name": "Venus settings"
        },
        "pathObj": {
            "path": "/Settings/CGwacs/AcExportLimit",
            "type": "float",
            "name": "AC export current limit (A)",
            "mode": "both"
        },
        "name": "",
        "onlyChanges": false,
        "outputs": 0,
        "x": 540,
        "y": 700,
        "wires": []
    },
    {
        "id": "4945296d8c40c343",
        "type": "victron-input-system",
        "z": "f9c19fc3b4cd942b",
        "service": "com.victronenergy.system/0",
        "path": "/Ac/PvOnOutput/L1/Power",
        "serviceObj": {
            "service": "com.victronenergy.system/0",
            "name": "Venus system"
        },
        "pathObj": {
            "path": "/Ac/PvOnOutput/L1/Power",
            "type": "float",
            "name": "PV - AC-coupled on output L1 (W)"
        },
        "name": "",
        "onlyChanges": false,
        "roundValues": "0",
        "outputs": 1,
        "x": 230,
        "y": 480,
        "wires": [
            [
                "37fd5c5a52a45217"
            ]
        ]
    },
    {
        "id": "1cb11c386ccfb8ee",
        "type": "victron-input-system",
        "z": "f9c19fc3b4cd942b",
        "service": "com.victronenergy.system/0",
        "path": "/Ac/ConsumptionOnOutput/L1/Power",
        "serviceObj": {
            "service": "com.victronenergy.system/0",
            "name": "Venus system"
        },
        "pathObj": {
            "path": "/Ac/ConsumptionOnOutput/L1/Power",
            "type": "float",
            "name": "Power on output of inverter/charger, L1 (W)"
        },
        "name": "",
        "onlyChanges": false,
        "roundValues": "0",
        "outputs": 1,
        "x": 230,
        "y": 620,
        "wires": [
            [
                "37fd5c5a52a45217"
            ]
        ]
    },
    {
        "id": "37fd5c5a52a45217",
        "type": "function",
        "z": "f9c19fc3b4cd942b",
        "name": "Calculate PV excess",
        "func": "let pvPower = flow.get('pvPower') || 0;\nlet consumption = flow.get('consumption') || 0;\n\nif (msg.topic === '/Ac/PvOnOutput/L1/Power' || msg.hasOwnProperty('service') && msg.path === '/Ac/PvOnOutput/L1/Power') {\n    pvPower = msg.payload || 0;\n    flow.set('pvPower', pvPower);\n} else if (msg.topic === '/Ac/ConsumptionOnOutput/L1/Power' || msg.hasOwnProperty('service') && msg.path === '/Ac/ConsumptionOnOutput/L1/Power') {\n    consumption = msg.payload || 0;\n    flow.set('consumption', consumption);\n}\n\nlet excess = pvPower - consumption;\nlet pvExcess = excess > 50;\n\nflow.set('pvExcess', pvExcess);\n\nnode.status({\n    fill: pvExcess ? \"green\" : \"grey\",\n    shape: \"dot\",\n    text: `PV: ${pvPower}W | Cons: ${consumption}W | Excess: ${excess}W | Flag: ${pvExcess}`\n});\n\nreturn null;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 520,
        "y": 540,
        "wires": [
            []
        ]
    },
    {
        "id": "c6153ca324cb499a",
        "type": "comment",
        "z": "f9c19fc3b4cd942b",
        "name": "Le système fonctionne ainsi...",
        "info": "\n\nQuand Grid connecté + excédent PV > 50W → 4A (absorbe l'excédent dans les batteries)\nQuand Grid connecté + pas d'excédent → 0A (pas de charge depuis le Grid)\nQuand Grid déconnecté → 70A (charge maximale)",
        "x": 660,
        "y": 620,
        "wires": []
    },
    {
        "id": "af56dfd62c5f56bc",
        "type": "global-config",
        "env": [],
        "modules": {
            "@victronenergy/node-red-contrib-victron": "1.6.60"
        }
    }
]