flux-nodered/flows (11).json
[
    {
        "id": "eca20a68bef0de32",
        "type": "tab",
        "label": "Set waterHeater",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "swh_comment_arch",
        "type": "comment",
        "z": "eca20a68bef0de32",
        "name": "Architecture : LG ThinQ API → Node-RED → MQTT → Rust → D-Bus Venus OS",
        "info": "API LG ThinQ (HTTPS) → parse état → publish santuario/heatpump/1/venus\nBridge Mosquitto Pi5 → NanoPi (out) → service dbus-mqtt-venus\nD-Bus : com.victronenergy.heatpump.mqtt_1\n\nPayload publié :\n{\n  \"State\": 1,               // 0=Off 1=HeatPump 2=Turbo\n  \"Temperature\": 60.0,      // température eau courante °C\n  \"TargetTemperature\": 52.0, // température cible °C\n  \"Position\": 0             // 0=AC Output\n}\n\nKeepalive : 25s (< watchdog Rust 30s)\nFetch API  : toutes les 10 min (600s)",
        "x": 300,
        "y": 20,
        "wires": []
    },
    {
        "id": "swh_comment_state",
        "type": "comment",
        "z": "eca20a68bef0de32",
        "name": "State mapping : HEAT_PUMP=1  TURBO=2  VACATION=0  POWER_OFF=0",
        "info": "Réponse API LG ThinQ (GET /state) :\n{\n  \"waterHeaterJobMode\": { \"currentJobMode\": \"HEAT_PUMP\" },\n  \"operation\":          { \"waterHeaterOperationMode\": \"POWER_ON\" },\n  \"temperature\":        { \"currentTemperature\": 60, \"targetTemperature\": 52, \"unit\": \"C\" }\n}",
        "x": 300,
        "y": 60,
        "wires": []
    },
    {
        "id": "swh_inject_poll",
        "type": "inject",
        "z": "eca20a68bef0de32",
        "name": "GET état (toutes les 10 min)",
        "props": [],
        "repeat": "600",
        "crontab": "",
        "once": true,
        "onceDelay": "5",
        "topic": "",
        "x": 150,
        "y": 140,
        "wires": [
            [
                "swh_fn_prepare_get"
            ]
        ]
    },
    {
        "id": "swh_inject_manual",
        "type": "inject",
        "z": "eca20a68bef0de32",
        "name": "Test manuel",
        "props": [],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": "",
        "topic": "",
        "x": 150,
        "y": 200,
        "wires": [
            [
                "swh_fn_prepare_get"
            ]
        ]
    },
    {
        "id": "swh_fn_prepare_get",
        "type": "function",
        "z": "eca20a68bef0de32",
        "name": "Préparer GET état",
        "func": "msg.headers = {\n    'Authorization': 'Bearer thinqpat_975d93159fdcf31033e33a3b9c49009ae1ffbf345dfa6dcb4e2f',\n    'x-message-id': 'fNvdZ1brTn-wWKUIWGoSVw',\n    'x-country': 'FR',\n    'x-client-id': 'Santuario-123456',\n    'x-api-key': 'v6GFvkweNo7DK7yD3ylIZ9w52aKBU0eJ7wLXkSR3',\n    'Content-Type': 'application/json'\n};\nmsg.url = 'https://api-eic.lgthinq.com/devices/918c240ab4c6e3eee70a4e9ac015c18ddd8b4f933c3d9ff813446d8f8dddf720/state';\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 370,
        "y": 170,
        "wires": [
            [
                "swh_http_get"
            ]
        ]
    },
    {
        "id": "swh_http_get",
        "type": "http request",
        "z": "eca20a68bef0de32",
        "name": "GET /state LG ThinQ",
        "method": "GET",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 570,
        "y": 170,
        "wires": [
            [
                "swh_fn_parse"
            ]
        ]
    },
    {
        "id": "swh_fn_parse",
        "type": "function",
        "z": "eca20a68bef0de32",
        "name": "Parser état → HeatpumpPayload",
        "func": "if (msg.statusCode !== 200) {\n    node.error('Erreur API LG ThinQ: ' + msg.statusCode + ' ' + JSON.stringify(msg.payload));\n    return null;\n}\n\nconst r = msg.payload.response;\nif (!r || !r.waterHeaterJobMode || !r.temperature) {\n    node.error('Réponse API inattendue: ' + JSON.stringify(msg.payload));\n    return null;\n}\n\nconst mode        = r.waterHeaterJobMode.currentJobMode;    // 'HEAT_PUMP' | 'TURBO' | 'VACATION'\nconst operation   = r.operation ? r.operation.waterHeaterOperationMode : 'POWER_ON';\nconst currentTemp = r.temperature.currentTemperature;\nconst targetTemp  = r.temperature.targetTemperature;\n\n// State mapping → /State D-Bus Venus OS (com.victronenergy.heatpump)\n// 0 = Off / Vacation\n// 1 = Heat Pump (pompe à chaleur mode normal)\n// 2 = Turbo / Boost\nconst stateMapping = {\n    'HEAT_PUMP': 1,\n    'TURBO':     2,\n    'VACATION':  0\n};\nconst isPoweredOn = operation === 'POWER_ON';\nconst state = isPoweredOn ? (stateMapping[mode] ?? 1) : 0;\n\n// Payload Venus OS D-Bus heatpump\nconst payload = {\n    State:             state,\n    Temperature:       currentTemp,\n    TargetTemperature: targetTemp,\n    Position:          0          // 0 = AC Output\n};\n\n// Stocker dans le contexte global pour le keepalive\nglobal.set('heatpump_payload', payload);\n\n// Afficher le statut du nœud\nconst modeLabel = isPoweredOn ? mode : 'OFF';\nnode.status({\n    fill:  mode === 'TURBO' ? 'red' : mode === 'HEAT_PUMP' ? 'green' : 'yellow',\n    shape: 'dot',\n    text:  `${modeLabel} | ${currentTemp}°C → ${targetTemp}°C`\n});\n\n// Output 1 : payload MQTT pour Venus OS\n// Output 2 : debug complet\nconst out1 = { topic: 'santuario/heatpump/1/venus', payload: JSON.stringify(payload) };\nconst out2 = { payload: { mode, operation, state, currentTemp, targetTemp, rawResponse: r } };\n\nreturn [out1, out2];",
        "outputs": 2,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 800,
        "y": 170,
        "wires": [
            [
                "swh_mqtt_out"
            ],
            [
                "swh_debug_full"
            ]
        ]
    },
    {
        "id": "swh_mqtt_out",
        "type": "mqtt out",
        "z": "eca20a68bef0de32",
        "name": "santuario/heatpump/1/venus",
        "topic": "santuario/heatpump/1/venus",
        "qos": "1",
        "retain": "true",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "pi5_mqtt_broker_swh",
        "x": 780,
        "y": 300,
        "wires": []
    },
    {
        "id": "swh_debug_full",
        "type": "debug",
        "z": "eca20a68bef0de32",
        "name": "Debug état complet",
        "active": false,
        "tosidebar": true,
        "console": false,
        "complete": "payload",
        "targetType": "msg",
        "x": 730,
        "y": 80,
        "wires": []
    },
    {
        "id": "swh_comment_keepalive",
        "type": "comment",
        "z": "eca20a68bef0de32",
        "name": "Keepalive 25s (obligatoire : watchdog Rust = 30s — sinon /Connected = 0)",
        "info": "Le service dbus-mqtt-venus surveille l'activité MQTT.\nSi aucun message n'arrive pendant 30s (watchdog_sec), /Connected passe à 0\net le device disparaît du VRM. Ce keepalive republie le dernier état connu\ndepuis le contexte global toutes les 25s.",
        "x": 270,
        "y": 300,
        "wires": []
    },
    {
        "id": "swh_inject_keepalive",
        "type": "inject",
        "z": "eca20a68bef0de32",
        "name": "Keepalive 25s",
        "props": [],
        "repeat": "25",
        "crontab": "",
        "once": false,
        "onceDelay": "",
        "topic": "",
        "x": 150,
        "y": 360,
        "wires": [
            [
                "swh_fn_keepalive"
            ]
        ]
    },
    {
        "id": "swh_fn_keepalive",
        "type": "function",
        "z": "eca20a68bef0de32",
        "name": "Republier depuis contexte",
        "func": "const payload = global.get('heatpump_payload');\nif (!payload) {\n    node.status({ fill: 'grey', shape: 'ring', text: 'en attente du 1er fetch' });\n    return null;\n}\nnode.status({\n    fill:  'blue',\n    shape: 'ring',\n    text:  `keepalive | ${payload.Temperature}°C → ${payload.TargetTemperature}°C`\n});\nreturn {\n    topic:   'santuario/heatpump/1/venus',\n    payload: JSON.stringify(payload)\n};",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 380,
        "y": 360,
        "wires": [
            [
                "swh_mqtt_out"
            ]
        ]
    },
    {
        "id": "swh_comment_set",
        "type": "comment",
        "z": "eca20a68bef0de32",
        "name": "Commandes SET (manuelles / futures automatisations)",
        "info": "POST https://api-eic.lgthinq.com/devices/{id}/control\nExemples de payload :\n  Mode TURBO   : { \"waterHeaterJobMode\": { \"currentJobMode\": \"TURBO\" } }\n  Mode HEAT_PUMP : { \"waterHeaterJobMode\": { \"currentJobMode\": \"HEAT_PUMP\" } }\n  Temp 40°C    : { \"temperature\": { \"targetTemperature\": 40 } }\n  Temp 55°C    : { \"temperature\": { \"targetTemperature\": 55 } }",
        "x": 200,
        "y": 460,
        "wires": []
    },
    {
        "id": "swh_inject_set_turbo",
        "type": "inject",
        "z": "eca20a68bef0de32",
        "name": "SET TURBO",
        "props": [],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": "",
        "topic": "",
        "x": 130,
        "y": 520,
        "wires": [
            [
                "swh_fn_set_turbo"
            ]
        ]
    },
    {
        "id": "swh_fn_set_turbo",
        "type": "function",
        "z": "eca20a68bef0de32",
        "name": "Préparer SET TURBO",
        "func": "msg.headers = {\n    'Authorization': 'Bearer thinqpat_975d93159fdcf31033e33a3b9c49009ae1ffbf345dfa6dcb4e2f',\n    'x-message-id': 'fNvdZ1brTn-wWKUIWGoSVw',\n    'x-country': 'FR',\n    'x-client-id': 'Santuario-123456',\n    'x-api-key': 'v6GFvkweNo7DK7yD3ylIZ9w52aKBU0eJ7wLXkSR3',\n    'Content-Type': 'application/json'\n};\nmsg.payload = { \"waterHeaterJobMode\": { \"currentJobMode\": \"TURBO\" } };\nmsg.url = 'https://api-eic.lgthinq.com/devices/918c240ab4c6e3eee70a4e9ac015c18ddd8b4f933c3d9ff813446d8f8dddf720/control';\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 340,
        "y": 520,
        "wires": [
            [
                "swh_http_set"
            ]
        ]
    },
    {
        "id": "swh_inject_set_heatpump",
        "type": "inject",
        "z": "eca20a68bef0de32",
        "name": "SET HEAT_PUMP",
        "props": [],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": "",
        "topic": "",
        "x": 130,
        "y": 580,
        "wires": [
            [
                "swh_fn_set_heatpump"
            ]
        ]
    },
    {
        "id": "swh_fn_set_heatpump",
        "type": "function",
        "z": "eca20a68bef0de32",
        "name": "Préparer SET HEAT_PUMP",
        "func": "msg.headers = {\n    'Authorization': 'Bearer thinqpat_975d93159fdcf31033e33a3b9c49009ae1ffbf345dfa6dcb4e2f',\n    'x-message-id': 'fNvdZ1brTn-wWKUIWGoSVw',\n    'x-country': 'FR',\n    'x-client-id': 'Santuario-123456',\n    'x-api-key': 'v6GFvkweNo7DK7yD3ylIZ9w52aKBU0eJ7wLXkSR3',\n    'Content-Type': 'application/json'\n};\nmsg.payload = { \"waterHeaterJobMode\": { \"currentJobMode\": \"HEAT_PUMP\" } };\nmsg.url = 'https://api-eic.lgthinq.com/devices/918c240ab4c6e3eee70a4e9ac015c18ddd8b4f933c3d9ff813446d8f8dddf720/control';\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 350,
        "y": 580,
        "wires": [
            [
                "swh_http_set"
            ]
        ]
    },
    {
        "id": "swh_inject_set_temp40",
        "type": "inject",
        "z": "eca20a68bef0de32",
        "name": "SET 40°C (Nuit)",
        "props": [],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": "",
        "topic": "",
        "x": 130,
        "y": 640,
        "wires": [
            [
                "swh_fn_set_temp40"
            ]
        ]
    },
    {
        "id": "swh_fn_set_temp40",
        "type": "function",
        "z": "eca20a68bef0de32",
        "name": "Préparer SET 40°C",
        "func": "msg.headers = {\n    'Authorization': 'Bearer thinqpat_975d93159fdcf31033e33a3b9c49009ae1ffbf345dfa6dcb4e2f',\n    'x-message-id': 'fNvdZ1brTn-wWKUIWGoSVw',\n    'x-country': 'FR',\n    'x-client-id': 'Santuario-123456',\n    'x-api-key': 'v6GFvkweNo7DK7yD3ylIZ9w52aKBU0eJ7wLXkSR3',\n    'Content-Type': 'application/json'\n};\nmsg.payload = { \"temperature\": { \"targetTemperature\": 40 } };\nmsg.url = 'https://api-eic.lgthinq.com/devices/918c240ab4c6e3eee70a4e9ac015c18ddd8b4f933c3d9ff813446d8f8dddf720/control';\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 340,
        "y": 640,
        "wires": [
            [
                "swh_http_set"
            ]
        ]
    },
    {
        "id": "swh_inject_set_temp55",
        "type": "inject",
        "z": "eca20a68bef0de32",
        "name": "SET 55°C (Jour)",
        "props": [],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": "",
        "topic": "",
        "x": 130,
        "y": 700,
        "wires": [
            [
                "swh_fn_set_temp55"
            ]
        ]
    },
    {
        "id": "swh_fn_set_temp55",
        "type": "function",
        "z": "eca20a68bef0de32",
        "name": "Préparer SET 55°C",
        "func": "msg.headers = {\n    'Authorization': 'Bearer thinqpat_975d93159fdcf31033e33a3b9c49009ae1ffbf345dfa6dcb4e2f',\n    'x-message-id': 'fNvdZ1brTn-wWKUIWGoSVw',\n    'x-country': 'FR',\n    'x-client-id': 'Santuario-123456',\n    'x-api-key': 'v6GFvkweNo7DK7yD3ylIZ9w52aKBU0eJ7wLXkSR3',\n    'Content-Type': 'application/json'\n};\nmsg.payload = { \"temperature\": { \"targetTemperature\": 55 } };\nmsg.url = 'https://api-eic.lgthinq.com/devices/918c240ab4c6e3eee70a4e9ac015c18ddd8b4f933c3d9ff813446d8f8dddf720/control';\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 340,
        "y": 700,
        "wires": [
            [
                "swh_http_set"
            ]
        ]
    },
    {
        "id": "swh_http_set",
        "type": "http request",
        "z": "eca20a68bef0de32",
        "name": "POST /control LG ThinQ",
        "method": "POST",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 570,
        "y": 610,
        "wires": [
            [
                "swh_debug_set"
            ]
        ]
    },
    {
        "id": "swh_debug_set",
        "type": "debug",
        "z": "eca20a68bef0de32",
        "name": "Debug réponse SET",
        "active": false,
        "tosidebar": true,
        "console": false,
        "complete": "true",
        "targetType": "full",
        "x": 660,
        "y": 480,
        "wires": []
    },
    {
        "id": "pi5_mqtt_broker_swh",
        "type": "mqtt-broker",
        "name": "Pi5 MQTT",
        "broker": "dalybms-mosquitto",
        "port": "1883",
        "clientid": "nodered_setwaterheater",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    }
]