flux-nodered/flows 7.json
[
    {
        "id": "f1af1add6c9f4e7f",
        "type": "tab",
        "label": "Meteo",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "a184ea6c3cdc6654",
        "type": "inject",
        "z": "f1af1add6c9f4e7f",
        "name": "Récupération température (toutes les 15 min)",
        "props": [],
        "repeat": "900",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "x": 240,
        "y": 60,
        "wires": [
            [
                "c4a3a94779cf566e"
            ]
        ]
    },
    {
        "id": "c4a3a94779cf566e",
        "type": "http request",
        "z": "f1af1add6c9f4e7f",
        "name": "Open-Meteo API - Badalucco",
        "method": "GET",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "https://api.open-meteo.com/v1/forecast?latitude=43.8833&longitude=7.8667&current=temperature_2m,relative_humidity_2m&timezone=Europe%2FRome",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 610,
        "y": 60,
        "wires": [
            [
                "7cae79d9fd7018f9"
            ]
        ]
    },
    {
        "id": "7cae79d9fd7018f9",
        "type": "function",
        "z": "f1af1add6c9f4e7f",
        "name": "Extraire température",
        "func": "const temp = msg.payload.current.temperature_2m;\nconst humidity = msg.payload.current.relative_humidity_2m;\n\n// Stocker dans contexte global pour le keepalive\nglobal.set('outdoor_temp', temp);\nglobal.set('outdoor_humidity', humidity);\n\nnode.status({fill: 'green', shape: 'dot', text: `${temp}°C — ${humidity}%`});\n\n// Publier vers le service Rust daly-bms-venus\nreturn {\n    topic: 'santuario/heat/1/venus',\n    payload: JSON.stringify({\n        Temperature: temp,\n        Humidity: humidity\n    })\n};",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 260,
        "y": 140,
        "wires": [
            [
                "67878f88ed85cdad",
                "0a8b3f5a2ff0a0da"
            ]
        ]
    },
    {
        "id": "be943de73317952b",
        "type": "inject",
        "z": "f1af1add6c9f4e7f",
        "name": "Keepalive Venus (toutes les 25s)",
        "props": [],
        "repeat": "25",
        "crontab": "",
        "once": false,
        "onceDelay": 0,
        "topic": "",
        "x": 210,
        "y": 260,
        "wires": [
            [
                "0699e76bd027e369"
            ]
        ]
    },
    {
        "id": "0699e76bd027e369",
        "type": "function",
        "z": "f1af1add6c9f4e7f",
        "name": "Republier depuis contexte",
        "func": "const temp = global.get('outdoor_temp');\nconst humidity = global.get('outdoor_humidity');\n\n// Attendre la première récupération Open-Meteo\nif (temp === undefined || temp === null) {\n    return null;\n}\n\nreturn {\n    topic: 'santuario/heat/1/venus',\n    payload: JSON.stringify({\n        Temperature: temp,\n        Humidity: humidity\n    })\n};",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 560,
        "y": 260,
        "wires": [
            [
                "67878f88ed85cdad"
            ]
        ]
    },
    {
        "id": "67878f88ed85cdad",
        "type": "mqtt out",
        "z": "f1af1add6c9f4e7f",
        "name": "Venus Température",
        "topic": "",
        "qos": "1",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "pi5_mqtt_broker",
        "x": 710,
        "y": 140,
        "wires": []
    },
    {
        "id": "0a8b3f5a2ff0a0da",
        "type": "debug",
        "z": "f1af1add6c9f4e7f",
        "name": "debug 2",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 460,
        "y": 200,
        "wires": []
    },
    {
        "id": "pi5_mqtt_broker",
        "type": "mqtt-broker",
        "name": "Pi5 MQTT",
        "broker": "dalybms-mosquitto",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    }
]