flux-nodered/inverter.json
[
  {
    "id": "inverter_tab",
    "type": "tab",
    "label": "Inverter/Charger → santuario/inverter/venus",
    "disabled": false,
    "info": "Victron MultiPlus / CGWACS données → MQTT\nPublie sur santuario/inverter/venus pour daly-bms-server"
  },
  {
    "id": "mqtt_inverter_voltage",
    "type": "mqtt in",
    "z": "inverter_tab",
    "name": "Inverter DC Voltage",
    "topic": "N/c0619ab9929a/system/0/Dc/Voltage",
    "qos": "0",
    "datatype": "json",
    "broker": "pi5_mqtt_broker_inv",
    "nl": false,
    "rap": true,
    "rh": 0,
    "inputs": 0,
    "x": 150,
    "y": 60,
    "wires": [["inverter_voltage_fn"]]
  },
  {
    "id": "mqtt_inverter_current",
    "type": "mqtt in",
    "z": "inverter_tab",
    "name": "Inverter DC Current",
    "topic": "N/c0619ab9929a/system/0/Dc/Current",
    "qos": "0",
    "datatype": "json",
    "broker": "pi5_mqtt_broker_inv",
    "nl": false,
    "rap": true,
    "rh": 0,
    "inputs": 0,
    "x": 150,
    "y": 120,
    "wires": [["inverter_current_fn"]]
  },
  {
    "id": "mqtt_inverter_power",
    "type": "mqtt in",
    "z": "inverter_tab",
    "name": "Inverter DC Power",
    "topic": "N/c0619ab9929a/system/0/Dc/Power",
    "qos": "0",
    "datatype": "json",
    "broker": "pi5_mqtt_broker_inv",
    "nl": false,
    "rap": true,
    "rh": 0,
    "inputs": 0,
    "x": 150,
    "y": 180,
    "wires": [["inverter_power_fn"]]
  },
  {
    "id": "mqtt_inverter_ac_voltage",
    "type": "mqtt in",
    "z": "inverter_tab",
    "name": "Inverter AC Output Voltage",
    "topic": "N/c0619ab9929a/system/0/Ac/Out/L1/V",
    "qos": "0",
    "datatype": "json",
    "broker": "pi5_mqtt_broker_inv",
    "nl": false,
    "rap": true,
    "rh": 0,
    "inputs": 0,
    "x": 150,
    "y": 240,
    "wires": [["inverter_ac_voltage_fn"]]
  },
  {
    "id": "mqtt_inverter_ac_power",
    "type": "mqtt in",
    "z": "inverter_tab",
    "name": "Inverter AC Output Power",
    "topic": "N/c0619ab9929a/system/0/Ac/Out/L1/P",
    "qos": "0",
    "datatype": "json",
    "broker": "pi5_mqtt_broker_inv",
    "nl": false,
    "rap": true,
    "rh": 0,
    "inputs": 0,
    "x": 150,
    "y": 300,
    "wires": [["inverter_ac_power_fn"]]
  },
  {
    "id": "inverter_voltage_fn",
    "type": "function",
    "z": "inverter_tab",
    "name": "Store Voltage",
    "func": "const v = msg.payload.value !== undefined ? msg.payload.value : msg.payload;\nflow.set('voltage_v', v);\nnode.status({fill:'blue', text:`Voltage: ${v}V`});\nreturn msg;",
    "outputs": 1,
    "timeout": 0,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 350,
    "y": 60,
    "wires": [["inverter_aggregate_fn"]]
  },
  {
    "id": "inverter_current_fn",
    "type": "function",
    "z": "inverter_tab",
    "name": "Store Current",
    "func": "const v = msg.payload.value !== undefined ? msg.payload.value : msg.payload;\nflow.set('current_a', v);\nnode.status({fill:'blue', text:`Current: ${v}A`});\nreturn msg;",
    "outputs": 1,
    "timeout": 0,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 350,
    "y": 120,
    "wires": [["inverter_aggregate_fn"]]
  },
  {
    "id": "inverter_power_fn",
    "type": "function",
    "z": "inverter_tab",
    "name": "Store Power",
    "func": "const v = msg.payload.value !== undefined ? msg.payload.value : msg.payload;\nflow.set('power_w', v);\nnode.status({fill:'blue', text:`Power: ${v}W`});\nreturn msg;",
    "outputs": 1,
    "timeout": 0,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 350,
    "y": 180,
    "wires": [["inverter_aggregate_fn"]]
  },
  {
    "id": "inverter_ac_voltage_fn",
    "type": "function",
    "z": "inverter_tab",
    "name": "Store AC Voltage",
    "func": "const v = msg.payload.value !== undefined ? msg.payload.value : msg.payload;\nflow.set('ac_voltage_v', v);\nnode.status({fill:'green', text:`AC Voltage: ${v}V`});\nreturn msg;",
    "outputs": 1,
    "timeout": 0,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 350,
    "y": 240,
    "wires": [["inverter_aggregate_fn"]]
  },
  {
    "id": "inverter_ac_power_fn",
    "type": "function",
    "z": "inverter_tab",
    "name": "Store AC Power",
    "func": "const v = msg.payload.value !== undefined ? msg.payload.value : msg.payload;\nflow.set('ac_power_w', v);\nnode.status({fill:'green', text:`AC Power: ${v}W`});\nreturn msg;",
    "outputs": 1,
    "timeout": 0,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 350,
    "y": 300,
    "wires": [["inverter_aggregate_fn"]]
  },
  {
    "id": "inverter_aggregate_fn",
    "type": "function",
    "z": "inverter_tab",
    "name": "Publish to MQTT",
    "func": "const voltage = flow.get('voltage_v') || 0;\nconst current = flow.get('current_a') || 0;\nconst power = flow.get('power_w') || 0;\nconst ac_voltage = flow.get('ac_voltage_v') || 0;\nconst ac_current = flow.get('ac_current_a') || 0;\nconst ac_power = flow.get('ac_power_w') || 0;\n\nnode.status({fill:'green', shape:'dot', text:`DC: ${voltage}V ${current}A | AC: ${ac_voltage}V ${ac_power}W`});\n\nconst msg_out = {\n    topic: 'santuario/inverter/venus',\n    payload: JSON.stringify({\n        Voltage: voltage,\n        Current: current,\n        Power: power,\n        AcVoltage: ac_voltage,\n        AcCurrent: ac_current,\n        AcPower: ac_power,\n        State: 'on',\n        Mode: 'inverter'\n    }),\n    retain: true\n};\n\nreturn msg_out;",
    "outputs": 1,
    "timeout": 0,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 550,
    "y": 180,
    "wires": [["inverter_mqtt_out"]]
  },
  {
    "id": "inverter_mqtt_out",
    "type": "mqtt out",
    "z": "inverter_tab",
    "name": "MQTT out",
    "topic": "",
    "qos": "1",
    "retain": true,
    "broker": "pi5_mqtt_broker_inv",
    "x": 750,
    "y": 180,
    "wires": []
  },
  {
    "id": "pi5_mqtt_broker_inv",
    "type": "mqtt-broker",
    "name": "Pi5 MQTT",
    "broker": "dalybms-mosquitto",
    "port": "1883",
    "clientid": "",
    "autoConnect": true,
    "usetls": false,
    "protocolVersion": "4",
    "keepalive": "60",
    "cleansession": true,
    "autoUnsubscribe": true,
    "birthTopic": "",
    "birthQos": "0",
    "birthRetain": "false",
    "birthPayload": "",
    "birthMsg": {},
    "closeTopic": "",
    "closeQos": "0",
    "closeRetain": "false",
    "closePayload": "",
    "closeMsg": {},
    "willTopic": "",
    "willQos": "0",
    "willRetain": "false",
    "willPayload": "",
    "willMsg": {},
    "userProps": "",
    "sessionExpiry": ""
  }
]
