flux-nodered/managewaterheater.json
[
    {
        "id": "ae8a1db9ba98e3d7",
        "type": "tab",
        "label": "Manage waterHeater",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "a0fab3137ac6feaf",
        "type": "comment",
        "z": "ae8a1db9ba98e3d7",
        "name": "Conditions",
        "info": "WaterHeater doit être en mode VACATION pour une des conditions suivantes\nSi \n    AC in est connecté: Read AC input = 0\nOu\nSi \n    SOC < 90%\nOu\nSi \n    Irradiance solaire inferieure à 400 W/m2\nOu\nSi  \n    Courrant SmartShunt negatif     \n\nSinon WaterHeater doit être en mode Heat_PUMP\n\nau demmarage il doit etre en mode VACATION",
        "x": 100,
        "y": 40,
        "wires": []
    },
    {
        "id": "da3d72735ada83da",
        "type": "inject",
        "z": "ae8a1db9ba98e3d7",
        "name": "SET HEAT_PUMP",
        "props": [],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": "",
        "topic": "",
        "x": 150,
        "y": 100,
        "wires": [
            [
                "6d1c0dd4771e2895"
            ]
        ]
    },
    {
        "id": "6d1c0dd4771e2895",
        "type": "function",
        "z": "ae8a1db9ba98e3d7",
        "name": "HEAT_PUMP",
        "func": "msg.headers = {\n    'Authorization': 'Bearer thinqpat_975d93159fdcf31033e33a3b9c49009ae1ffbf345dfa6dcb4e2f',\n    'x-message-id': 'fNvdZ1brTn-wWKUIWGoSVw',\n    'x-country': 'FR',\n    'x-client-id': 'Santuario-123456',\n    'x-api-key': 'v6GFvkweNo7DK7yD3ylIZ9w52aKBU0eJ7wLXkSR3',\n    'Content-Type': 'application/json'\n};\n\nmsg.payload = {\n    \"waterHeaterJobMode\": {\n        \"currentJobMode\": \"HEAT_PUMP\"\n    }\n};\n\nmsg.url = 'https://api-eic.lgthinq.com/devices/918c240ab4c6e3eee70a4e9ac015c18ddd8b4f933c3d9ff813446d8f8dddf720/control';\n\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 420,
        "y": 100,
        "wires": [
            [
                "9312c52072063f33"
            ]
        ]
    },
    {
        "id": "9312c52072063f33",
        "type": "http request",
        "z": "ae8a1db9ba98e3d7",
        "name": "Post",
        "method": "POST",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 270,
        "y": 40,
        "wires": [
            [
                "950f0a394f41f21b"
            ]
        ]
    },
    {
        "id": "950f0a394f41f21b",
        "type": "delay",
        "z": "ae8a1db9ba98e3d7",
        "name": "15s",
        "pauseType": "delay",
        "timeout": "15",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 390,
        "y": 40,
        "wires": [
            [
                "9d264911a5759485"
            ]
        ]
    },
    {
        "id": "9d264911a5759485",
        "type": "function",
        "z": "ae8a1db9ba98e3d7",
        "name": "Set 60 °C ",
        "func": "msg.headers = {\n    'Authorization': 'Bearer thinqpat_975d93159fdcf31033e33a3b9c49009ae1ffbf345dfa6dcb4e2f',\n    'x-message-id': 'fNvdZ1brTn-wWKUIWGoSVw',\n    'x-country': 'FR',\n    'x-client-id': 'Santuario-123456',\n    'x-api-key': 'v6GFvkweNo7DK7yD3ylIZ9w52aKBU0eJ7wLXkSR3',\n    'Content-Type': 'application/json'\n};\n\nmsg.payload = {\n    \"temperature\": {\n        \"targetTemperature\": 60\n    }\n};\nmsg.url = 'https://api-eic.lgthinq.com/devices/918c240ab4c6e3eee70a4e9ac015c18ddd8b4f933c3d9ff813446d8f8dddf720/control';\n\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 540,
        "y": 40,
        "wires": [
            [
                "f9715ae2718dd28b"
            ]
        ]
    },
    {
        "id": "f9715ae2718dd28b",
        "type": "http request",
        "z": "ae8a1db9ba98e3d7",
        "name": "Post",
        "method": "POST",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 710,
        "y": 40,
        "wires": [
            []
        ]
    },
    {
        "id": "4d59b632f7ed4cf6",
        "type": "function",
        "z": "ae8a1db9ba98e3d7",
        "name": "Détecter changement",
        "func": "const previousMode = flow.get('current_mode') || null;\nconst lastChangeTime = flow.get('last_change_time') || 0;\nconst currentMode = 'heat_pump';\n\nconst MIN_DELAY_MINUTES = 15;\nconst timeSinceLastChange = (Date.now() - lastChangeTime) / 1000 / 60;\n\nif (previousMode !== currentMode) {\n    if (timeSinceLastChange >= MIN_DELAY_MINUTES || previousMode === null) {\n        flow.set('current_mode', currentMode);\n        flow.set('last_change_time', Date.now());\n        node.status({fill:\"cyan\",shape:\"dot\",text:`✓ Changement: ${previousMode} → HEAT_PUMP`});\n        return msg;\n    } else {\n        node.status({\n            fill:\"orange\",\n            shape:\"ring\",\n            text:`⏳ Trop tôt (${timeSinceLastChange.toFixed(1)}/${MIN_DELAY_MINUTES} min)`\n        });\n        return null;\n    }\n}\n\nnode.status({fill:\"grey\",shape:\"ring\",text:\"➔ Déjà en HEAT_PUMP\"});\nreturn null;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 440,
        "y": 160,
        "wires": [
            [
                "6d1c0dd4771e2895"
            ]
        ]
    },
    {
        "id": "387a8e4c37f77ca9",
        "type": "mqtt in",
        "z": "ae8a1db9ba98e3d7",
        "name": "Read AC Input Ignored",
        "topic": "N/c0619ab9929a/vebus/275/Ac/State/IgnoreAcIn1",
        "qos": "0",
        "datatype": "json",
        "broker": "pi5_mqtt_broker_wh",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 140,
        "y": 220,
        "wires": [
            [
                "f243628b5d775691"
            ]
        ]
    },
    {
        "id": "f243628b5d775691",
        "type": "function",
        "z": "ae8a1db9ba98e3d7",
        "name": "Stocker AC Input Ignored",
        "func": "const v = msg.payload.value !== undefined ? msg.payload.value : msg.payload;\nflow.set('wh_ac_ignored', v);\nnode.status({fill:'blue',shape:'dot',text:`AC ignored: ${v}`});\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 450,
        "y": 220,
        "wires": [
            [
                "ea7d7a8292a642d8"
            ]
        ]
    },
    {
        "id": "fdb729c02aed9338",
        "type": "mqtt in",
        "z": "ae8a1db9ba98e3d7",
        "name": "Battery State of Charge (%)",
        "topic": "N/c0619ab9929a/system/0/Dc/Battery/Soc",
        "qos": "0",
        "datatype": "json",
        "broker": "pi5_mqtt_broker_wh",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 160,
        "y": 280,
        "wires": [
            [
                "b1da7597274f709d"
            ]
        ]
    },
    {
        "id": "b1da7597274f709d",
        "type": "function",
        "z": "ae8a1db9ba98e3d7",
        "name": "Stocker SOC WH",
        "func": "const v = msg.payload.value !== undefined ? msg.payload.value : msg.payload;\nflow.set('wh_soc', v);\nnode.status({fill:'blue',shape:'dot',text:`SOC: ${v}%`});\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 430,
        "y": 280,
        "wires": [
            [
                "ea7d7a8292a642d8"
            ]
        ]
    },
    {
        "id": "a96cf0bb04854ea8",
        "type": "function",
        "z": "ae8a1db9ba98e3d7",
        "name": "Stocker Current WH",
        "func": "const v = msg.payload.value !== undefined ? msg.payload.value : msg.payload;\nflow.set('wh_irradiance', v);\nnode.status({ fill: 'blue', shape: 'dot', text: `Current: ${v}W/m2`});\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 440,
        "y": 340,
        "wires": [
            [
                "ea7d7a8292a642d8"
            ]
        ]
    },
    {
        "id": "cb91bba792718892",
        "type": "inject",
        "z": "ae8a1db9ba98e3d7",
        "name": "Init at Start",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "2",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 450,
        "y": 560,
        "wires": [
            [
                "0d342a111d6927c2"
            ]
        ]
    },
    {
        "id": "0d342a111d6927c2",
        "type": "function",
        "z": "ae8a1db9ba98e3d7",
        "name": "Forcer l'initialisation",
        "func": "flow.set('current_mode', null);\nflow.set('last_change_time', 0);\nflow.set('wh_ac_ignored', null);\nflow.set('wh_soc', null);\nflow.set('wh_battery_current', null);\nflow.set('wh_pv_dc', 0);\nflow.set('wh_pv_ac', 0);\nflow.set('wh_production', 0);\n\nnode.status({fill:'green',shape:'dot',text:'Initialisé'});\n\n// Forcer VACATION au démarrage\nmsg.payload = {mode: 'vacation', reasons: ['Démarrage']};\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 650,
        "y": 560,
        "wires": [
            [
                "b65ef6c8cc49c74d"
            ]
        ]
    },
    {
        "id": "ea7d7a8292a642d8",
        "type": "function",
        "z": "ae8a1db9ba98e3d7",
        "name": "Évaluation",
        "func": "const DEBOUNCE_MINUTES = 5;     // délai de confirmation pour conditions instables\n\nconst acIgnored = flow.get('wh_ac_ignored');\nconst soc = flow.get('wh_soc');\nconst irradiance = flow.get('wh_irradiance');\nconst batteryCurrent = flow.get('wh_battery_current');\nconst now = Date.now();\n\n// --- Conditions avec debounce ---\n// acIgnored condition\nconst acIgnoredActive = (acIgnored !== null && acIgnored !== undefined && acIgnored === 1);\n\n// soc condition (SOC > 90%)\nconst socHigh = (soc !== null && soc !== undefined && soc > 90);\n\n// irradiance condition (> 400)\nconst irradianceHighNow = (irradiance !== null && irradiance !== undefined && irradiance > 400);\n\nif (irradianceHighNow) {\n    if (!context.get('irradianceHighStart')) {\n        context.set('irradianceHighStart', now);\n    }\n} else {\n    context.set('irradianceHighStart', null);\n}\nconst irradianceHighStart = context.get('irradianceHighStart');\nconst irradianceHighElapsed = irradianceHighStart ? (now - irradianceHighStart) / 60000 : 0;\nconst irradianceHigh = irradianceHighNow && (irradianceHighElapsed >= DEBOUNCE_MINUTES);\n\n// battery current condition (courant négatif)\nconst currentNegativeNow = (batteryCurrent !== null && batteryCurrent !== undefined && batteryCurrent < 0);\n\nif (currentNegativeNow) {\n    if (!context.get('currentNegativeStart')) {\n        context.set('currentNegativeStart', now);\n    }\n} else {\n    context.set('currentNegativeStart', null);\n}\nconst currentNegativeStart = context.get('currentNegativeStart');\nconst currentNegativeElapsed = currentNegativeStart ? (now - currentNegativeStart) / 60000 : 0;\nconst currentNegative = currentNegativeNow && (currentNegativeElapsed >= DEBOUNCE_MINUTES);\n\n// --- Décision ---\n// Mode VACATION si: AC ignoré actif OU SOC > 90% OU irradiance > 400 OU courant négatif\n// Mode HEAT_PUMP sinon\nconst vacationMode = acIgnoredActive || socHigh || irradianceHigh || currentNegative;\n\nlet reasons = [];\nif (acIgnoredActive) reasons.push('AC ignoré actif');\nif (socHigh) reasons.push(`SOC ${soc}% > 90%`);\nif (irradianceHigh) reasons.push(`Irradiance ${irradiance}W/m² > 400 (${irradianceHighElapsed.toFixed(1)}min)`);\nif (currentNegative) reasons.push(`Courant négatif ${batteryCurrent}A (${currentNegativeElapsed.toFixed(1)}min)`);\n\n// Statut détaillé même quand en attente de confirmation\nlet pending = [];\nif (irradianceHighNow && !irradianceHigh) pending.push(`Irradiance ${irradianceHighElapsed.toFixed(1)}/${DEBOUNCE_MINUTES}min`);\nif (currentNegativeNow && !currentNegative) pending.push(`Courant négatif ${currentNegativeElapsed.toFixed(1)}/${DEBOUNCE_MINUTES}min`);\n\nmsg.payload = {\n    mode: vacationMode ? 'vacation' : 'heat_pump',\n    temperature: vacationMode ? 45 : 60,\n    ac_ignored: acIgnored,\n    soc: soc,\n    irradiance: irradiance,\n    battery_current: batteryCurrent,\n    reasons: vacationMode ? reasons : [`SOC ≤ 90%, AC ignoré inactif, Irradiance ≤ 400, Courant ≥ 0`]\n};\n\nif (vacationMode) {\n    node.status({ fill: 'yellow', shape: 'ring', text: `VACATION (45°C): ${reasons.join(' | ')}` });\n    return [null, msg];\n} else if (pending.length > 0) {\n    node.status({ fill: 'orange', shape: 'ring', text: `⏳ Attente: ${pending.join(' | ')}` });\n    return [null, null];\n} else {\n    node.status({ fill: 'cyan', shape: 'dot', text: `HEAT_PUMP (60°C): SOC ${soc}%, Irradiance ${irradiance}W/m²` });\n    return [msg, null];\n}",
        "outputs": 2,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 210,
        "y": 500,
        "wires": [
            [
                "4d59b632f7ed4cf6"
            ],
            [
                "b65ef6c8cc49c74d"
            ]
        ]
    },
    {
        "id": "b65ef6c8cc49c74d",
        "type": "function",
        "z": "ae8a1db9ba98e3d7",
        "name": "Détecter changement ",
        "func": "const previousMode = flow.get('current_mode') || null;\nconst lastChangeTime = flow.get('last_change_time') || 0;\nconst currentMode = 'vacation';\n\nconst MIN_DELAY_MINUTES = 15;\nconst timeSinceLastChange = (Date.now() - lastChangeTime) / 1000 / 60;\n\nif (previousMode !== currentMode) {\n    if (timeSinceLastChange >= MIN_DELAY_MINUTES || previousMode === null) {\n        flow.set('current_mode', currentMode);\n        flow.set('last_change_time', Date.now());\n        node.status({fill:\"yellow\",shape:\"dot\",text:`⚠ Changement: ${previousMode} → VACATION`});\n        return msg;\n    } else {\n        node.status({\n            fill:\"orange\",\n            shape:\"ring\",\n            text:`⏳ Trop tôt (${timeSinceLastChange.toFixed(1)}/${MIN_DELAY_MINUTES} min)`\n        });\n        return null;\n    }\n}\n\nnode.status({fill:\"grey\",shape:\"ring\",text:\"➔ Déjà en VACATION\"});\nreturn null;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 240,
        "y": 620,
        "wires": [
            [
                "0e67bbbd26276a0e"
            ]
        ]
    },
    {
        "id": "0e67bbbd26276a0e",
        "type": "function",
        "z": "ae8a1db9ba98e3d7",
        "name": "VACATION",
        "func": "msg.headers = {\n    'Authorization': 'Bearer thinqpat_975d93159fdcf31033e33a3b9c49009ae1ffbf345dfa6dcb4e2f',\n    'x-message-id': 'fNvdZ1brTn-wWKUIWGoSVw',\n    'x-country': 'FR',\n    'x-client-id': 'Santuario-123456',\n    'x-api-key': 'v6GFvkweNo7DK7yD3ylIZ9w52aKBU0eJ7wLXkSR3',\n    'Content-Type': 'application/json'\n};\n\nmsg.payload = {\n    \"waterHeaterJobMode\": {\n        \"currentJobMode\": \"VACATION\"\n    }\n};\n\nmsg.url = 'https://api-eic.lgthinq.com/devices/918c240ab4c6e3eee70a4e9ac015c18ddd8b4f933c3d9ff813446d8f8dddf720/control';\n\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 130,
        "y": 700,
        "wires": [
            [
                "f77e10b7bd8f14f6"
            ]
        ]
    },
    {
        "id": "f77e10b7bd8f14f6",
        "type": "http request",
        "z": "ae8a1db9ba98e3d7",
        "name": "Post",
        "method": "POST",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 330,
        "y": 700,
        "wires": [
            [
                "599f3bab18a7fa0a"
            ]
        ]
    },
    {
        "id": "599f3bab18a7fa0a",
        "type": "delay",
        "z": "ae8a1db9ba98e3d7",
        "name": "15s",
        "pauseType": "delay",
        "timeout": "15",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 450,
        "y": 700,
        "wires": [
            [
                "f338d510fbadb6c3"
            ]
        ]
    },
    {
        "id": "f338d510fbadb6c3",
        "type": "function",
        "z": "ae8a1db9ba98e3d7",
        "name": "Set 45 °C ",
        "func": "msg.headers = {\n    'Authorization': 'Bearer thinqpat_975d93159fdcf31033e33a3b9c49009ae1ffbf345dfa6dcb4e2f',\n    'x-message-id': 'fNvdZ1brTn-wWKUIWGoSVw',\n    'x-country': 'FR',\n    'x-client-id': 'Santuario-123456',\n    'x-api-key': 'v6GFvkweNo7DK7yD3ylIZ9w52aKBU0eJ7wLXkSR3',\n    'Content-Type': 'application/json'\n};\n\nmsg.payload = {\n    \"temperature\": {\n        \"targetTemperature\": 45\n    }\n};\nmsg.url = 'https://api-eic.lgthinq.com/devices/918c240ab4c6e3eee70a4e9ac015c18ddd8b4f933c3d9ff813446d8f8dddf720/control';\n\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 580,
        "y": 700,
        "wires": [
            [
                "343b90ee7aeeea06"
            ]
        ]
    },
    {
        "id": "343b90ee7aeeea06",
        "type": "http request",
        "z": "ae8a1db9ba98e3d7",
        "name": "Post",
        "method": "POST",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 730,
        "y": 700,
        "wires": [
            []
        ]
    },
    {
        "id": "ec5f8db1ec2e5b76",
        "type": "mqtt in",
        "z": "ae8a1db9ba98e3d7",
        "name": "santuario/irradiance/raw",
        "topic": "santuario/irradiance/raw",
        "qos": "0",
        "datatype": "str",
        "broker": "pi5_mqtt_broker",
        "nl": false,
        "rap": true,
        "rh": 1,
        "inputs": 0,
        "x": 140,
        "y": 340,
        "wires": [
            [
                "a96cf0bb04854ea8"
            ]
        ]
    },
    {
        "id": "2b075eb59ad769cd",
        "type": "mqtt in",
        "z": "ae8a1db9ba98e3d7",
        "name": "SmartShunt  current (A)",
        "topic": "N/c0619ab9929a/battery/274/Dc/0/Current",
        "qos": "0",
        "datatype": "json",
        "broker": "pi5_mqtt_broker_wh",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 140,
        "y": 400,
        "wires": [
            [
                "0f9eab90861b6e31"
            ]
        ]
    },
    {
        "id": "0f9eab90861b6e31",
        "type": "function",
        "z": "ae8a1db9ba98e3d7",
        "name": "Stocker Current WH",
        "func": "const v = msg.payload.value !== undefined ? msg.payload.value : msg.payload;\nflow.set('wh_battery_current', v);\nnode.status({fill:'blue',shape:'dot',text:`Current: ${v}A`});\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 460,
        "y": 400,
        "wires": [
            [
                "ea7d7a8292a642d8"
            ]
        ]
    },
    {
        "id": "pi5_mqtt_broker_wh",
        "type": "mqtt-broker",
        "name": "Pi5 MQTT",
        "broker": "dalybms-mosquitto",
        "port": "1883",
        "clientid": "nodered_waterheater",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "pi5_mqtt_broker",
        "type": "mqtt-broker",
        "name": "Pi5 MQTT",
        "broker": "dalybms-mosquitto",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    }
]
