flux-nodered/meteo.json
[
  {
    "id": "e6e3a16384301f83",
    "type": "tab",
    "label": "Meteo",
    "disabled": false,
    "info": "Open-Meteo (5 min) → température / humidité / pression / vent → Venus OS\nProduction solaire du jour : MPPT History/Daily/0/Yield + PVInverter delta journalier\n\nPersistance pvinv_baseline :\n  Stockée en MQTT retained (santuario/persist/pvinv_baseline)\n  Mosquitto persistence=true → survit aux redémarrages Pi5 et NanoPi\n  Pas de modifications Docker ni de settings.js nécessaires.",
    "env": []
  },
  {
    "id": "e8ba731c3af093d3",
    "type": "inject",
    "z": "e6e3a16384301f83",
    "name": "Récupération météo (toutes les 5 min)",
    "props": [],
    "repeat": "300",
    "crontab": "",
    "once": true,
    "onceDelay": 0.1,
    "topic": "",
    "x": 240,
    "y": 60,
    "wires": [
      [
        "18ade779417faa1a"
      ]
    ]
  },
  {
    "id": "18ade779417faa1a",
    "type": "http request",
    "z": "e6e3a16384301f83",
    "name": "Open-Meteo API - Badalucco",
    "method": "GET",
    "ret": "obj",
    "paytoqs": "ignore",
    "url": "https://api.open-meteo.com/v1/forecast?latitude=43.8833&longitude=7.8667&current=temperature_2m,relative_humidity_2m,pressure_msl,wind_speed_10m,wind_direction_10m&timezone=Europe%2FRome&wind_speed_unit=ms",
    "tls": "",
    "persist": false,
    "proxy": "",
    "insecureHTTPParser": false,
    "authType": "",
    "senderr": false,
    "headers": [],
    "x": 610,
    "y": 60,
    "wires": [
      [
        "e7a4e51e485d047b"
      ]
    ]
  },
  {
    "id": "e7a4e51e485d047b",
    "type": "function",
    "z": "e6e3a16384301f83",
    "name": "Extraire et publier météo",
    "func": "const cur = msg.payload.current;\nconst temp      = cur.temperature_2m;\nconst humidity  = cur.relative_humidity_2m;\nconst pressure  = cur.pressure_msl;\nconst windSpeed = cur.wind_speed_10m;\nconst windDir   = cur.wind_direction_10m;\n\nglobal.set('outdoor_temp',       temp);\nglobal.set('outdoor_humidity',   humidity);\nglobal.set('outdoor_pressure',   pressure);\nglobal.set('outdoor_wind_speed', windSpeed);\nglobal.set('outdoor_wind_dir',   windDir);\n\nconst todaysYield    = global.get('total_yield_today')  || 0;\nconst yieldYesterday = global.get('yield_yesterday')     || 0;\nconst irradiance     = global.get('irradiance_wm2')      || 0;\n\nnode.status({fill:'green', shape:'dot', text:`${temp}°C — ${irradiance} W/m² — ${todaysYield.toFixed(2)} kWh`});\n\nconst heatMsg = {\n    topic:   'santuario/heat/1/venus',\n    payload: JSON.stringify({\n        Temperature:     temp,\n        TemperatureType: 4,\n        Humidity:        humidity,\n        Pressure:        pressure\n    })\n};\nconst meteoMsg = {\n    topic:   'santuario/meteo/venus',\n    payload: JSON.stringify({\n        Irradiance:     irradiance,\n        TodaysYield:    Math.round(todaysYield * 10) / 10,\n        YieldYesterday: yieldYesterday,\n        WindSpeed:      windSpeed,\n        WindDirection:  windDir\n    })\n};\nreturn [[heatMsg, meteoMsg]];",
    "outputs": 1,
    "timeout": "",
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 260,
    "y": 140,
    "wires": [
      [
        "meteo_mqtt_out",
        "d65816bfa4e7b8c4"
      ]
    ]
  },
  {
    "id": "temp_keepalive_inject",
    "type": "inject",
    "z": "e6e3a16384301f83",
    "name": "Keepalive Venus (toutes les 5 min)",
    "props": [],
    "repeat": "300",
    "crontab": "",
    "once": false,
    "onceDelay": 0,
    "topic": "",
    "x": 210,
    "y": 260,
    "wires": [
      [
        "temp_keepalive_fn"
      ]
    ]
  },
  {
    "id": "temp_keepalive_fn",
    "type": "function",
    "z": "e6e3a16384301f83",
    "name": "Republier depuis contexte",
    "func": "const temp      = global.get('outdoor_temp');\nconst humidity  = global.get('outdoor_humidity');\nconst pressure  = global.get('outdoor_pressure');\nconst windSpeed = global.get('outdoor_wind_speed');\nconst windDir   = global.get('outdoor_wind_dir');\n\nif (temp === undefined || temp === null) return null;\n\nconst todaysYield    = global.get('total_yield_today')  || 0;\nconst yieldYesterday = global.get('yield_yesterday')     || 0;\nconst irradiance     = global.get('irradiance_wm2')      || 0;\n\nconst heatMsg = {\n    topic:   'santuario/heat/1/venus',\n    payload: JSON.stringify({\n        Temperature:     temp,\n        TemperatureType: 4,\n        Humidity:        humidity,\n        Pressure:        pressure\n    })\n};\nconst meteoMsg = {\n    topic:   'santuario/meteo/venus',\n    payload: JSON.stringify({\n        Irradiance:     irradiance,\n        TodaysYield:    Math.round(todaysYield * 10) / 10,\n        YieldYesterday: yieldYesterday,\n        WindSpeed:      windSpeed,\n        WindDirection:  windDir\n    })\n};\nreturn [[heatMsg, meteoMsg]];",
    "outputs": 1,
    "timeout": "",
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 560,
    "y": 260,
    "wires": [
      [
        "meteo_mqtt_out"
      ]
    ]
  },
  {
    "id": "meteo_mqtt_out",
    "type": "mqtt out",
    "z": "e6e3a16384301f83",
    "name": "Venus Météo",
    "topic": "",
    "qos": "1",
    "retain": "true",
    "respTopic": "",
    "contentType": "",
    "userProps": "",
    "correl": "",
    "expiry": "",
    "broker": "pi5_mqtt_broker",
    "x": 840,
    "y": 160,
    "wires": []
  },
  {
    "id": "d65816bfa4e7b8c4",
    "type": "debug",
    "z": "e6e3a16384301f83",
    "name": "debug météo",
    "active": false,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "false",
    "statusVal": "",
    "statusType": "auto",
    "x": 840,
    "y": 220,
    "wires": []
  },
  {
    "id": "meteo_comment_yield",
    "type": "comment",
    "z": "e6e3a16384301f83",
    "name": "Production solaire — MPPT + PVInverter delta — Persistance MQTT retained",
    "info": "## Sources production solaire\n- MPPT SmartSolar → N/c0619ab9929a/solarcharger/+/History/Daily/0/Yield\n  Venus OS remet à zéro à minuit automatiquement.\n- Micro-onduleurs → N/c0619ab9929a/pvinverter/+/Ac/Energy/Forward\n  Valeur cumulée → delta journalier via baseline.\n\n## Persistance pvinv_baseline (survit aux redémarrages)\n  topic: santuario/persist/pvinv_baseline  (retain:true, qos:1)\n  Mosquitto persistence=true + volume Docker → persiste sur disque\n  Au démarrage Node-RED : mqtt-in (rap:true) reçoit immédiatement la baseline\n  Le bridge NanoPi reconnecte en ~30s → PVInverter arrive après baseline ✓\n\n## Reset minuit\n  L'inject cron 00:00 remet pvinv_baseline à null et publie payload vide\n  (supprime le retained dans Mosquitto).\n  Au premier message PVInverter du matin → nouvelle baseline posée.\n\n## Vérification NanoPi\n  dbus -y | grep pvinverter\n  dbus -y com.victronenergy.pvinverter.cgwacs_ttyUSB0_mb2 /Ac/Energy/Forward GetValue\n\n## Vérifier la baseline persistée\n  mosquitto_sub -h localhost -p 1883 -t santuario/persist/pvinv_baseline -C 1",
    "x": 330,
    "y": 360,
    "wires": []
  },
  {
    "id": "mppt_yield_in",
    "type": "mqtt in",
    "z": "e6e3a16384301f83",
    "name": "MPPT History/Daily/0/Yield (kWh aujourd'hui)",
    "topic": "N/c0619ab9929a/solarcharger/+/History/Daily/0/Yield",
    "qos": "0",
    "datatype": "json",
    "broker": "pi5_mqtt_broker",
    "nl": false,
    "rap": true,
    "rh": 0,
    "inputs": 0,
    "x": 200,
    "y": 440,
    "wires": [
      [
        "mppt_yield_fn"
      ]
    ]
  },
  {
    "id": "mppt_yield_fn",
    "type": "function",
    "z": "e6e3a16384301f83",
    "name": "Accumuler MPPT yields",
    "func": "const val = msg.payload && msg.payload.value !== undefined ? msg.payload.value : msg.payload;\nif (val === null || val === undefined || isNaN(val)) return null;\n\nlet mpptYields = global.get('mppt_yields') || {};\nmpptYields[msg.topic] = parseFloat(val) || 0;\nglobal.set('mppt_yields', mpptYields);\n\nconst mpptTotal = Object.values(mpptYields).reduce((a, b) => a + b, 0);\nglobal.set('mppt_yield_today', mpptTotal);\n\n// Mettre à jour total si pvinvToday déjà calculé\nconst pvinvToday = global.get('pvinv_yield_today') || 0;\nconst total = parseFloat((mpptTotal + pvinvToday).toFixed(3));\nif (pvinvToday > 0 || mpptTotal > 0) {\n    global.set('total_yield_today', total);\n}\n\nnode.status({fill:'green', shape:'dot', text:'MPPT: ' + mpptTotal.toFixed(2) + ' kWh'});\nreturn [msg, {}];",
    "outputs": 2,
    "timeout": "",
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 500,
    "y": 440,
    "wires": [
      [
        "debug_yield"
      ],
      [
        "influx_write_fn"
      ]
    ]
  },
  {
    "id": "pvinv_energy_in",
    "type": "mqtt in",
    "z": "e6e3a16384301f83",
    "name": "ET112 mqtt_7 énergie cumulée (kWh)",
    "topic": "N/c0619ab9929a/pvinverter/32/Ac/Energy/Forward",
    "qos": "0",
    "datatype": "auto",
    "broker": "pi5_mqtt_broker",
    "nl": false,
    "rap": true,
    "rh": 0,
    "inputs": 0,
    "x": 220,
    "y": 520,
    "wires": [
      [
        "pvinv_daily_fn"
      ]
    ]
  },
  {
    "id": "pvinv_daily_fn",
    "type": "function",
    "z": "e6e3a16384301f83",
    "name": "Delta journalier PVInverter (mqtt_7 instance 32)",
    "func": "// Gérer payload string ou objet (datatype auto)\nlet payload = msg.payload;\nif (typeof payload === 'string') {\n    try { payload = JSON.parse(payload); } catch(e) { return null; }\n}\nconst val = payload && payload.value !== undefined ? payload.value : payload;\nif (val === null || val === undefined || isNaN(val)) return null;\n\nconst current = parseFloat(parseFloat(val).toFixed(3));\nif (isNaN(current) || current <= 0) return null;\n\n// Baseline posée au 1er message de la journée (ou après reset minuit)\nlet baseline = global.get('pvinv_baseline');\nif (baseline === null || baseline === undefined) {\n    global.set('pvinv_baseline', current);\n    baseline = current;\n}\n\n// Sécurité : si le compteur ET112 a été remis à zéro\nif (current < baseline) {\n    global.set('pvinv_baseline', current);\n    baseline = current;\n}\n\nconst pvinvToday = Math.max(0, parseFloat((current - baseline).toFixed(3)));\nglobal.set('pvinv_yield_today', pvinvToday);\n\nconst mpptToday = global.get('mppt_yield_today') || 0;\nconst total = parseFloat((mpptToday + pvinvToday).toFixed(3));\nglobal.set('total_yield_today', total);\n\nnode.status({fill:'green', shape:'dot', text:'PVInv: ' + pvinvToday.toFixed(2) + ' + MPPT: ' + mpptToday.toFixed(2) + ' = ' + total.toFixed(2) + ' kWh'});\n\n// out1=debug | out2=persist baseline | out3=InfluxDB trigger\nreturn [msg, {payload: String(baseline)}, {}];",
    "outputs": 3,
    "timeout": "",
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 510,
    "y": 520,
    "wires": [
      [
        "debug_yield"
      ],
      [
        "pvinv_persist_out"
      ],
      [
        "influx_write_fn"
      ]
    ]
  },
  {
    "id": "midnight_reset_inject",
    "type": "inject",
    "z": "e6e3a16384301f83",
    "name": "Reset minuit (00:00)",
    "props": [],
    "repeat": "",
    "crontab": "0 0 * * *",
    "once": false,
    "onceDelay": 0,
    "topic": "",
    "x": 190,
    "y": 600,
    "wires": [
      [
        "midnight_reset_fn"
      ]
    ]
  },
  {
    "id": "midnight_reset_fn",
    "type": "function",
    "z": "e6e3a16384301f83",
    "name": "Reset production du jour (minuit)",
    "func": "// Sauvegarder la production d'aujourd'hui comme hier AVANT le reset\nconst yieldToday = global.get('total_yield_today') || 0;\nglobal.set('yield_yesterday', yieldToday);\n\n// Reset des compteurs du jour\nglobal.set('total_yield_today', 0);\nglobal.set('pvinv_yield_today', 0);\nglobal.set('pvinv_baseline', null);\nglobal.set('mppt_yield_today', 0);\nglobal.set('mppt_yields', {});\n\nnode.status({fill:'blue', shape:'dot', text:'Reset minuit — hier: ' + yieldToday.toFixed(2) + ' kWh'});\n// out1: n/a | out2: efface retained pvinv_baseline | out3: persiste yield_yesterday\nreturn [null, {payload: ''}, {payload: String(yieldToday)}];",
    "outputs": 3,
    "timeout": "",
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 460,
    "y": 600,
    "wires": [
      [],
      [
        "pvinv_persist_out"
      ],
      [
        "yield_yesterday_persist_out"
      ]
    ]
  },
  {
    "id": "debug_yield",
    "type": "debug",
    "z": "e6e3a16384301f83",
    "name": "debug yield",
    "active": false,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "false",
    "statusVal": "",
    "statusType": "auto",
    "x": 720,
    "y": 480,
    "wires": []
  },
  {
    "id": "persist_comment",
    "type": "comment",
    "z": "e6e3a16384301f83",
    "name": "PERSISTANCE pvinv_baseline — MQTT retained (Mosquitto persistence=true)",
    "info": "## Principe\npvinv_baseline est publiée en retained sur santuario/persist/pvinv_baseline\nMosquitto stocke ce message sur disque (persistence=true + volume Docker).\n\nAu redémarrage Node-RED / Pi5 :\n1. pvinv_persist_in (rap:true) reçoit immédiatement la baseline depuis Mosquitto local\n2. restore_baseline_fn repose global.pvinv_baseline\n3. Bridge NanoPi reconnecte ~30s plus tard\n4. Premier PVInverter reçu → baseline déjà posée → delta correct ✓\n\n## Vérification\nmosquitto_sub -h localhost -p 1883 -t santuario/persist/pvinv_baseline -C 1\n# → doit afficher la baseline (ex: 587.2)\n\n## Reset manuel si baseline incorrecte\nSe référer à fix-pvinv-baseline.json (CLAUDE.md §10)",
    "x": 280,
    "y": 680,
    "wires": []
  },
  {
    "id": "pvinv_persist_out",
    "type": "mqtt out",
    "z": "e6e3a16384301f83",
    "name": "Persist pvinv_baseline (retained)",
    "topic": "santuario/persist/pvinv_baseline",
    "qos": "1",
    "retain": "true",
    "respTopic": "",
    "contentType": "",
    "userProps": "",
    "correl": "",
    "expiry": "",
    "broker": "pi5_mqtt_broker",
    "x": 870,
    "y": 560,
    "wires": []
  },
  {
    "id": "influx_comment",
    "type": "comment",
    "z": "e6e3a16384301f83",
    "name": "PERSISTANCE InfluxDB — solar_persist (pvinv_baseline + production du jour)",
    "info": "## Principe (solution pérenne)\npvinv_baseline, mppt_yield_today, pvinv_yield_today, total_yield_today\nsont écrits dans InfluxDB (measurement: solar_persist) avec un tag 'day' = date locale Paris.\n\n## Au démarrage (+5s)\n  influx_startup_inject → influx_restore_fn → influx_query_req → influx_restore_result_fn\n  Requête Flux : dernier enregistrement solar_persist pour aujourd'hui (tag day=YYYY-MM-DD)\n  → pvinv_baseline restaurée → 1er PVInverter calcule delta correct ✓\n\n## Écriture\n  mppt_yield_fn (output 2) → influx_write_fn → influx_write_req\n  pvinv_daily_fn (output 3) → influx_write_fn → influx_write_req\n  Line protocol : solar_persist,day=2026-03-22,host=pi5 pvinv_baseline=587.2,...\n\n## Variables d'environnement requises dans docker-compose.infra.yml\n  INFLUX_TOKEN, INFLUX_ORG, INFLUX_BUCKET\n\n## Vérification (Pi5)\n  # Voir les derniers enregistrements\n  docker exec dalybms-influxdb influx query \\\n    'from(bucket:\"daly_bms\") |> range(start:-2h) |> filter(fn:(r)=>r._measurement==\"solar_persist\") |> last()'",
    "x": 310,
    "y": 860,
    "wires": []
  },
  {
    "id": "influx_startup_inject",
    "type": "inject",
    "z": "e6e3a16384301f83",
    "name": "Restaurer/Synchroniser depuis InfluxDB (démarrage +5s puis toutes les 5 min)",
    "props": [],
    "repeat": "300",
    "crontab": "",
    "once": true,
    "onceDelay": 5,
    "topic": "",
    "x": 230,
    "y": 940,
    "wires": [
      [
        "influx_restore_fn"
      ]
    ]
  },
  {
    "id": "influx_restore_fn",
    "type": "function",
    "z": "e6e3a16384301f83",
    "name": "Préparer requête Flux (restore baseline)",
    "func": "// Date locale Paris pour filtrer uniquement les données d'aujourd'hui\nconst now = new Date();\nconst parisISO = now.toLocaleString('sv-SE', {timeZone: 'Europe/Paris'});\nconst today = parisISO.substring(0, 10); // YYYY-MM-DD\n\nconst token = env.get('INFLUX_TOKEN');\nif (!token) {\n    node.status({fill:'red', shape:'ring', text:'INFLUX_TOKEN manquant dans docker-compose'});\n    return null;\n}\n\nconst org    = env.get('INFLUX_ORG')    || 'santuario';\nconst bucket = env.get('INFLUX_BUCKET') || 'daly_bms';\n\n// range -30h pour couvrir les décalages de fuseau horaire\n// tag 'day' garantit qu'on ne récupère QUE les données du jour Paris\nconst fluxQuery = [\n    'from(bucket: \"' + bucket + '\")',\n    '  |> range(start: -30h)',\n    '  |> filter(fn: (r) => r._measurement == \"solar_persist\")',\n    '  |> filter(fn: (r) => r.day == \"' + today + '\")',\n    '  |> last()'\n].join('\\n');\n\nmsg.url     = 'http://dalybms-influxdb:8086/api/v2/query?org=' + org;\nmsg.method  = 'POST';\nmsg.payload = fluxQuery;\nmsg.headers = {\n    'Authorization': 'Token ' + token,\n    'Content-Type': 'application/vnd.flux',\n    'Accept': 'application/csv'\n};\nnode.status({fill:'blue', shape:'dot', text:'Requête Flux pour ' + today});\nreturn msg;",
    "outputs": 1,
    "timeout": "",
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 540,
    "y": 940,
    "wires": [
      [
        "influx_query_req"
      ]
    ]
  },
  {
    "id": "influx_query_req",
    "type": "http request",
    "z": "e6e3a16384301f83",
    "name": "InfluxDB Query (Flux)",
    "method": "use",
    "ret": "txt",
    "paytoqs": "ignore",
    "url": "",
    "tls": "",
    "persist": false,
    "proxy": "",
    "insecureHTTPParser": false,
    "authType": "",
    "senderr": false,
    "headers": [],
    "x": 820,
    "y": 940,
    "wires": [
      [
        "influx_restore_result_fn"
      ]
    ]
  },
  {
    "id": "influx_restore_result_fn",
    "type": "function",
    "z": "e6e3a16384301f83",
    "name": "Restaurer globals depuis InfluxDB",
    "func": "const csv = msg.payload || '';\nconst lines = csv.split('\\n').filter(l => l.trim() && !l.startsWith('#'));\nif (lines.length < 2) {\n    node.status({fill:'grey', shape:'ring', text:'Pas de données InfluxDB pour aujourd\\'hui'});\n    return null;\n}\n\nconst header = lines[0].split(',');\nconst fieldIdx = header.findIndex(h => h.trim() === '_field');\nconst valueIdx = header.findIndex(h => h.trim() === '_value');\nif (fieldIdx === -1 || valueIdx === -1) return null;\n\nconst data = {};\nfor (let i = 1; i < lines.length; i++) {\n    const cols = lines[i].split(',');\n    const field = (cols[fieldIdx] || '').trim();\n    const value = parseFloat((cols[valueIdx] || '').trim());\n    if (field && !isNaN(value)) data[field] = value;\n}\n\nif (data.mppt_yield_today !== undefined) global.set('mppt_yield_today', data.mppt_yield_today || 0);\n\nconst currentTotal = global.get('total_yield_today') || 0;\nconst influxTotal  = data.total_yield_today || 0;\nif (currentTotal <= 0 && influxTotal > 0) {\n    global.set('total_yield_today', influxTotal);\n}\n\nconst total = global.get('total_yield_today') || 0;\nconst mppt  = global.get('mppt_yield_today')  || 0;\nnode.status({fill:'green', shape:'dot',\n    text: 'InfluxDB ✓ Total=' + total.toFixed(2) + ' MPPT=' + mppt.toFixed(2) + ' kWh'});\n\nif (total <= 0) return null;\n\nconst irradiance     = global.get('irradiance_wm2')     || 0;\nconst yieldYesterday = global.get('yield_yesterday')     || 0;\nconst windSpeed      = global.get('outdoor_wind_speed')  || 0;\nconst windDir        = global.get('outdoor_wind_dir')    || 0;\nconst temp           = global.get('outdoor_temp')        || 0;\n\nreturn [[\n    { topic: 'santuario/heat/1/venus', payload: JSON.stringify({\n        Temperature: temp, TemperatureType: 4,\n        Humidity: global.get('outdoor_humidity') || 0,\n        Pressure: global.get('outdoor_pressure') || 0\n    })},\n    { topic: 'santuario/meteo/venus', payload: JSON.stringify({\n        Irradiance: irradiance, TodaysYield: Math.round(total * 10) / 10,\n        YieldYesterday: yieldYesterday,\n        WindSpeed: windSpeed, WindDirection: windDir\n    })}\n]];",
    "outputs": 1,
    "timeout": "",
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 560,
    "y": 1020,
    "wires": [
      [
        "meteo_mqtt_out"
      ]
    ]
  },
  {
    "id": "influx_write_fn",
    "type": "function",
    "z": "e6e3a16384301f83",
    "name": "Formater line protocol InfluxDB",
    "func": "const token  = env.get('INFLUX_TOKEN');\nconst org    = env.get('INFLUX_ORG')    || 'santuario';\nconst bucket = env.get('INFLUX_BUCKET') || 'daly_bms';\nif (!token) return null;\n\nconst mppt  = global.get('mppt_yield_today')  || 0;\nconst total = global.get('total_yield_today') || 0;\n\nconst now = new Date();\nconst parisISO = now.toLocaleString('sv-SE', {timeZone: 'Europe/Paris'});\nconst day = parisISO.substring(0, 10);\nconst ts  = Math.floor(Date.now() / 1000);\n\nconst hostname = (env.get('HOSTNAME') || 'pi5').replace(/[^a-zA-Z0-9_-]/g, '_');\nconst line = `solar_persist,day=${day},host=${hostname} mppt_yield_today=${mppt},total_yield_today=${total} ${ts}`;\n\nmsg.url     = `http://dalybms-influxdb:8086/api/v2/write?org=${org}&bucket=${bucket}&precision=s`;\nmsg.method  = 'POST';\nmsg.payload = line;\nmsg.headers = {\n    'Authorization': 'Token ' + token,\n    'Content-Type':  'text/plain; charset=utf-8'\n};\nreturn msg;",
    "outputs": 1,
    "timeout": "",
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 780,
    "y": 540,
    "wires": [
      [
        "influx_write_req"
      ]
    ]
  },
  {
    "id": "influx_write_req",
    "type": "http request",
    "z": "e6e3a16384301f83",
    "name": "InfluxDB Write (solar_persist)",
    "method": "use",
    "ret": "txt",
    "paytoqs": "ignore",
    "url": "",
    "tls": "",
    "persist": false,
    "proxy": "",
    "insecureHTTPParser": false,
    "authType": "",
    "senderr": false,
    "headers": [],
    "x": 1000,
    "y": 540,
    "wires": [
      []
    ]
  },
  {
    "id": "pi5_mqtt_broker",
    "type": "mqtt-broker",
    "name": "Pi5 MQTT",
    "broker": "dalybms-mosquitto",
    "port": "1883",
    "clientid": "",
    "autoConnect": true,
    "usetls": false,
    "protocolVersion": "4",
    "keepalive": "60",
    "cleansession": true,
    "autoUnsubscribe": true,
    "birthTopic": "",
    "birthQos": "0",
    "birthRetain": "false",
    "birthPayload": "",
    "birthMsg": {},
    "closeTopic": "",
    "closeQos": "0",
    "closeRetain": "false",
    "closePayload": "",
    "closeMsg": {},
    "willTopic": "",
    "willQos": "0",
    "willRetain": "false",
    "willPayload": "",
    "willMsg": {},
    "userProps": "",
    "sessionExpiry": ""
  },
  {
    "id": "yield_yesterday_persist_out",
    "type": "mqtt out",
    "z": "e6e3a16384301f83",
    "name": "Persist yield_yesterday (retained)",
    "topic": "santuario/persist/yield_yesterday",
    "qos": "0",
    "retain": "true",
    "broker": "pi5_mqtt_broker",
    "x": 1200,
    "y": 540,
    "wires": []
  },
  {
    "id": "yield_yesterday_persist_in",
    "type": "mqtt in",
    "z": "e6e3a16384301f83",
    "name": "Restore yield_yesterday (au démarrage)",
    "topic": "santuario/persist/yield_yesterday",
    "qos": "0",
    "datatype": "auto",
    "broker": "pi5_mqtt_broker",
    "rap": true,
    "rh": 0,
    "x": 200,
    "y": 680,
    "wires": [
      [
        "restore_yield_yesterday_fn"
      ]
    ]
  },
  {
    "id": "restore_yield_yesterday_fn",
    "type": "function",
    "z": "e6e3a16384301f83",
    "name": "Restaurer yield_yesterday",
    "func": "const raw = msg.payload;\nif (raw === '' || raw === null || raw === undefined) {\n    global.set('yield_yesterday', 0);\n    node.status({fill:'grey', shape:'ring', text:'Pas de yield_yesterday (1er jour)'});\n    return null;\n}\nconst val = parseFloat(raw);\n// Seuil raisonnable : production max journalière ~50 kWh sur cette installation\nconst MAX_DAILY_KWH = 50;\nif (!isNaN(val) && val >= 0 && val <= MAX_DAILY_KWH) {\n    global.set('yield_yesterday', val);\n    node.status({fill:'yellow', shape:'dot', text:'Hier: ' + val.toFixed(2) + ' kWh'});\n} else if (!isNaN(val) && val > MAX_DAILY_KWH) {\n    // Valeur aberrante (cumul brut) — réinitialiser et nettoyer le retained\n    global.set('yield_yesterday', 0);\n    node.status({fill:'orange', shape:'ring', text:'Valeur aberrante ignorée: ' + val.toFixed(1) + ' kWh → reset'});\n    // Publier 0 pour écraser le retained incorrect\n    return {payload: '0', topic: 'santuario/persist/yield_yesterday', retain: true};\n}\nreturn null;",
    "outputs": 1,
    "x": 480,
    "y": 680,
    "wires": [
      [
        "yield_yesterday_persist_out"
      ]
    ]
  }
]