flux-nodered/setwaterheater.json
[
    {
        "id": "eca20a68bef0de32",
        "type": "tab",
        "label": "Set waterHeater",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "f070bfd5caf24aba",
        "type": "inject",
        "z": "eca20a68bef0de32",
        "name": "SET TURBO",
        "props": [],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": "",
        "topic": "",
        "x": 110,
        "y": 120,
        "wires": [
            [
                "61856555a9ed35b1"
            ]
        ]
    },
    {
        "id": "61856555a9ed35b1",
        "type": "function",
        "z": "eca20a68bef0de32",
        "name": "Prepare",
        "func": "msg.headers = {\n    'Authorization': 'Bearer thinqpat_975d93159fdcf31033e33a3b9c49009ae1ffbf345dfa6dcb4e2f',\n    'x-message-id': 'fNvdZ1brTn-wWKUIWGoSVw',\n    'x-country': 'FR',\n    'x-client-id': 'Santuario-123456',\n    'x-api-key': 'v6GFvkweNo7DK7yD3ylIZ9w52aKBU0eJ7wLXkSR3',\n    'Content-Type': 'application/json'\n};\n\nmsg.payload = {\n    \"waterHeaterJobMode\": {\n        \"currentJobMode\": \"TURBO\"\n    }\n};\n\nmsg.url = 'https://api-eic.lgthinq.com/devices/918c240ab4c6e3eee70a4e9ac015c18ddd8b4f933c3d9ff813446d8f8dddf720/control';\n\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 310,
        "y": 120,
        "wires": [
            [
                "d986b3e45fbb5cc1"
            ]
        ]
    },
    {
        "id": "d986b3e45fbb5cc1",
        "type": "http request",
        "z": "eca20a68bef0de32",
        "name": "",
        "method": "POST",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 490,
        "y": 120,
        "wires": [
            [
                "e0ec9fd1d0a93579"
            ]
        ]
    },
    {
        "id": "e0ec9fd1d0a93579",
        "type": "debug",
        "z": "eca20a68bef0de32",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "complete": "true",
        "targetType": "full",
        "x": 650,
        "y": 120,
        "wires": []
    },
    {
        "id": "af7e78bfde9d59a5",
        "type": "comment",
        "z": "eca20a68bef0de32",
        "name": "control temperature",
        "info": "{\n    \"temperature\": {\n        \"targetTemperature\": 52\n    }\n}",
        "x": 110,
        "y": 180,
        "wires": []
    },
    {
        "id": "87dbc4cab978c04c",
        "type": "comment",
        "z": "eca20a68bef0de32",
        "name": "state response",
        "info": "{\n  \"messageId\": \"fNvdZ1brTn-wWKUlWGoSVw\",\n  \"timestamp\": \"2026-01-08T15:43:25.414259\",\n  \"response\": {\n    \"waterHeaterJobMode\": {\n      \"currentJobMode\": \"HEAT_PUMP\"\n    },\n    \"operation\": {\n      \"waterHeaterOperationMode\": \"POWER_ON\"\n    },\n    \"temperature\": {\n      \"currentTemperature\": 60,\n      \"targetTemperature\": 52,\n      \"unit\": \"C\"\n    },\n    \"temperatureInUnits\": [\n      {\n        \"currentTemperature\": 60,\n        \"targetTemperature\": 52,\n        \"unit\": \"C\"\n      },\n      {\n        \"currentTemperature\": 140,\n        \"targetTemperature\": 126,\n        \"unit\": \"F\"\n      }\n    ]\n  }\n}",
        "x": 620,
        "y": 180,
        "wires": []
    },
    {
        "id": "6777ad8d7d167c43",
        "type": "comment",
        "z": "eca20a68bef0de32",
        "name": "https://smartsolution.developer.lge.com/en/apiManage/thinq_connect#tag/Client-API/paths/~1client/delete",
        "info": "https://smartsolution.developer.lge.com/en/apiManage/thinq_connect#tag/Client-API/paths/~1client/delete",
        "x": 400,
        "y": 60,
        "wires": []
    },
    {
        "id": "af9a45220f23a72f",
        "type": "inject",
        "z": "eca20a68bef0de32",
        "name": "SET targetTemperature",
        "props": [],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": "",
        "topic": "",
        "x": 140,
        "y": 640,
        "wires": [
            [
                "d1049248c0b17e15"
            ]
        ]
    },
    {
        "id": "29843fa3927ca9a0",
        "type": "http request",
        "z": "eca20a68bef0de32",
        "name": "",
        "method": "POST",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 550,
        "y": 640,
        "wires": [
            [
                "cf3e64065ccd05c4"
            ]
        ]
    },
    {
        "id": "cf3e64065ccd05c4",
        "type": "debug",
        "z": "eca20a68bef0de32",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "complete": "true",
        "targetType": "full",
        "x": 710,
        "y": 640,
        "wires": []
    },
    {
        "id": "15ebde54ddc29a1e",
        "type": "comment",
        "z": "eca20a68bef0de32",
        "name": "Enregistrer le client",
        "info": "",
        "x": 110,
        "y": 580,
        "wires": []
    },
    {
        "id": "d1049248c0b17e15",
        "type": "function",
        "z": "eca20a68bef0de32",
        "name": "Set 40 °C Nuit",
        "func": "msg.headers = {\n    'Authorization': 'Bearer thinqpat_975d93159fdcf31033e33a3b9c49009ae1ffbf345dfa6dcb4e2f',\n    'x-message-id': 'fNvdZ1brTn-wWKUIWGoSVw',\n    'x-country': 'FR',\n    'x-client-id': 'Santuario-123456',\n    'x-api-key': 'v6GFvkweNo7DK7yD3ylIZ9w52aKBU0eJ7wLXkSR3',\n    'Content-Type': 'application/json'\n};\n\nmsg.payload = {\n    \"body\": {\n        \"type\": \"MQTT\",\n        \"service-code\": \"SVC202\",\n        \"device-type\": \"607\"\n    }\n\n};\n\nmsg.url = 'https://api-eic.lgthinq.com/client';\n\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 360,
        "y": 640,
        "wires": [
            [
                "29843fa3927ca9a0"
            ]
        ]
    },
    {
        "id": "c067917d9663e579",
        "type": "inject",
        "z": "eca20a68bef0de32",
        "name": "SET targetTemperature",
        "props": [],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": "",
        "topic": "",
        "x": 140,
        "y": 720,
        "wires": [
            [
                "0eab5845f49d1210"
            ]
        ]
    },
    {
        "id": "94525c748f0975a2",
        "type": "http request",
        "z": "eca20a68bef0de32",
        "name": "",
        "method": "POST",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 530,
        "y": 720,
        "wires": [
            [
                "1dabe69425a7843e"
            ]
        ]
    },
    {
        "id": "1dabe69425a7843e",
        "type": "debug",
        "z": "eca20a68bef0de32",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "complete": "true",
        "targetType": "full",
        "x": 690,
        "y": 720,
        "wires": []
    },
    {
        "id": "0eab5845f49d1210",
        "type": "function",
        "z": "eca20a68bef0de32",
        "name": "Set 55°C Jour",
        "func": "msg.headers = {\n    'Authorization': 'Bearer thinqpat_975d93159fdcf31033e33a3b9c49009ae1ffbf345dfa6dcb4e2f',\n    'x-message-id': 'fNvdZ1brTn-wWKUIWGoSVw',\n    'x-country': 'FR',\n    'x-client-id': 'Santuario-123456',\n    'x-api-key': 'v6GFvkweNo7DK7yD3ylIZ9w52aKBU0eJ7wLXkSR3',\n    'Content-Type': 'application/json'\n};\n\nmsg.payload = {\n    \"temperature\": {\n        \"targetTemperature\": 55\n    }\n};\n\nmsg.url = 'https://api-eic.lgthinq.com/devices/918c240ab4c6e3eee70a4e9ac015c18ddd8b4f933c3d9ff813446d8f8dddf720/control';\n\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 360,
        "y": 720,
        "wires": [
            [
                "94525c748f0975a2"
            ]
        ]
    },
    {
        "id": "356507781f925f50",
        "type": "comment",
        "z": "eca20a68bef0de32",
        "name": "set temperature",
        "info": "",
        "x": 360,
        "y": 680,
        "wires": []
    },
    {
        "id": "23efecea2e615363",
        "type": "comment",
        "z": "eca20a68bef0de32",
        "name": "MQTT topics",
        "info": "subscriptions:\n0: \"app/clients/Santuario-123456/push\"\n1: \"app/clients/Santuario-123456/inbox\"\npublications: array[1]\n0: \"app/clients/Santuario-123456/outbox\"\nurl: \"https://api-eic.lgthinq.com/client/certificate\"\n",
        "x": 110,
        "y": 20,
        "wires": []
    },
    {
        "id": "24aeda907cd8a6cd",
        "type": "victron-virtual",
        "z": "eca20a68bef0de32",
        "name": "WaterHeater VRM 101",
        "outputs": 1,
        "device": "temperature",
        "default_values": true,
        "battery_capacity": 25,
        "include_battery_temperature": false,
        "grid_nrofphases": 1,
        "include_motor_temp": false,
        "include_controller_temp": false,
        "include_coolant_temp": false,
        "include_motor_rpm": true,
        "include_motor_direction": true,
        "position": 0,
        "pvinverter_nrofphases": 1,
        "fluid_type": 0,
        "include_tank_battery": false,
        "include_tank_temperature": false,
        "tank_battery_voltage": 3.3,
        "tank_capacity": 0.2,
        "temperature_type": "5",
        "include_humidity": false,
        "include_pressure": false,
        "include_temp_battery": false,
        "temp_battery_voltage": 3.3,
        "x": 340,
        "y": 180,
        "wires": [
            []
        ]
    },
    {
        "id": "8e0e3c8068a3f54a",
        "type": "inject",
        "z": "eca20a68bef0de32",
        "name": "get state (every 15 min)",
        "props": [],
        "repeat": "600",
        "crontab": "",
        "once": true,
        "onceDelay": "5",
        "topic": "",
        "x": 150,
        "y": 240,
        "wires": [
            [
                "7bb2a5727f5c2df1"
            ]
        ]
    },
    {
        "id": "7bb2a5727f5c2df1",
        "type": "function",
        "z": "eca20a68bef0de32",
        "name": "Prepare GET state",
        "func": "msg.headers = {\n    'Authorization': 'Bearer thinqpat_975d93159fdcf31033e33a3b9c49009ae1ffbf345dfa6dcb4e2f',\n    'x-message-id': 'fNvdZ1brTn-wWKUIWGoSVw',\n    'x-country': 'FR',\n    'x-client-id': 'Santuario-123456',\n    'x-api-key': 'v6GFvkweNo7DK7yD3ylIZ9w52aKBU0eJ7wLXkSR3',\n    'Content-Type': 'application/json'\n};\n\nmsg.url = 'https://api-eic.lgthinq.com/devices/918c240ab4c6e3eee70a4e9ac015c18ddd8b4f933c3d9ff813446d8f8dddf720/state';\n\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 350,
        "y": 280,
        "wires": [
            [
                "82a6dc3fa7e3e96d"
            ]
        ]
    },
    {
        "id": "82a6dc3fa7e3e96d",
        "type": "http request",
        "z": "eca20a68bef0de32",
        "name": "GET state",
        "method": "GET",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 540,
        "y": 260,
        "wires": [
            [
                "900587cea345a000"
            ]
        ]
    },
    {
        "id": "900587cea345a000",
        "type": "function",
        "z": "eca20a68bef0de32",
        "name": "Parse waterHeater state",
        "func": "// Vérifier si la requête a réussi\nif (msg.statusCode !== 200) {\n    node.error(\"Erreur API: \" + msg.statusCode);\n    return null;\n}\n\nconst response = msg.payload.response;\n\n// Extraire les données\nconst mode = response.waterHeaterJobMode.currentJobMode;\nconst currentTemp = response.temperature.currentTemperature;\nconst targetTemp = response.temperature.targetTemperature;\n\n// Output 1: Température actuelle\nconst output1 = { payload: currentTemp };\n\n// Output 2: Nom personnalisé avec mode et target\nconst modeName = mode.replace('_', ' ');\nconst output2 = { payload: `${modeName} | Target: ${targetTemp}°C` };\n\n// Output 3: Status coloré selon le mode\nconst modeMapping = {\n    \"VACATION\": 0,\n    \"HEAT_PUMP\": 0,\n    \"TURBO\": 1\n};\nconst output3 = { payload: modeMapping[mode] || 0 };\n\n// Output 4: Debug complet\nconst output4 = {\n    payload: {\n        mode: mode,\n        currentTemperature: currentTemp,\n        targetTemperature: targetTemp,\n        operation: response.operation.waterHeaterOperationMode\n    }\n};\n\nnode.status({\n    fill: mode === \"TURBO\" ? \"red\" : mode === \"HEAT_PUMP\" ? \"green\" : \"yellow\",\n    shape: \"dot\",\n    text: `${mode} | ${currentTemp}°C → ${targetTemp}°C`\n});\n\nreturn [output1, output2, output3, output4];",
        "outputs": 4,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 370,
        "y": 360,
        "wires": [
            [
                "f40892d3456258a4"
            ],
            [
                "1bc326182065ca33"
            ],
            [
                "6c932d2ba6b65f6a"
            ],
            [
                "39edfb8355493944"
            ]
        ]
    },
    {
        "id": "f40892d3456258a4",
        "type": "victron-output-custom",
        "z": "eca20a68bef0de32",
        "service": "com.victronenergy.temperature/101",
        "path": "/TemperatureType",
        "serviceObj": {
            "service": "com.victronenergy.temperature/101",
            "name": "WaterHeater (101)"
        },
        "pathObj": {
            "path": "/TemperatureType",
            "name": "/TemperatureType",
            "type": "number",
            "value": 5
        },
        "name": "Température actuelle",
        "onlyChanges": false,
        "outputs": 0,
        "x": 720,
        "y": 300,
        "wires": []
    },
    {
        "id": "1bc326182065ca33",
        "type": "victron-output-custom",
        "z": "eca20a68bef0de32",
        "service": "com.victronenergy.temperature/101",
        "path": "/CustomName",
        "serviceObj": {
            "service": "com.victronenergy.temperature/101",
            "name": "WaterHeater (101)"
        },
        "pathObj": {
            "path": "/CustomName",
            "name": "/CustomName",
            "type": "string",
            "value": "WaterHeater"
        },
        "name": "Mode + Target",
        "onlyChanges": false,
        "outputs": 0,
        "x": 700,
        "y": 360,
        "wires": []
    },
    {
        "id": "6c932d2ba6b65f6a",
        "type": "victron-output-custom",
        "z": "eca20a68bef0de32",
        "service": "com.victronenergy.temperature/101",
        "path": "/Status",
        "serviceObj": {
            "service": "com.victronenergy.temperature/101",
            "name": "WaterHeater (101)"
        },
        "pathObj": {
            "path": "/Status",
            "name": "/Status",
            "type": "number",
            "value": 0
        },
        "name": "Statut coloré",
        "onlyChanges": false,
        "outputs": 0,
        "x": 690,
        "y": 420,
        "wires": []
    },
    {
        "id": "ecdba2928ba2d78b",
        "type": "inject",
        "z": "eca20a68bef0de32",
        "name": "Test manuel",
        "props": [],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": "",
        "topic": "",
        "x": 110,
        "y": 340,
        "wires": [
            [
                "7bb2a5727f5c2df1"
            ]
        ]
    },
    {
        "id": "39edfb8355493944",
        "type": "function",
        "z": "eca20a68bef0de32",
        "name": "Extract dashboard",
        "func": "const data = msg.payload;\n\nconst msgMode = { payload: data.mode };\nconst msgCurrent = { payload: data.currentTemperature };\nconst msgTarget = { payload: data.targetTemperature };\n\nreturn [msgMode, msgCurrent, msgTarget];",
        "outputs": 3,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 150,
        "y": 480,
        "wires": [
            [],
            [],
            []
        ]
    },
    {
        "id": "6dd158659111e8af",
        "type": "global-config",
        "env": [],
        "modules": {
            "@victronenergy/node-red-contrib-victron": "1.6.60"
        }
    }
]