flux-nodered/shelly2.json
[
    {
        "id": "b6e8da280e925b95",
        "type": "tab",
        "label": "Flux 3",
        "disabled": true,
        "info": "",
        "env": []
    },
    {
        "id": "comment-header",
        "type": "comment",
        "z": "b6e8da280e925b95",
        "name": "=== SHELLY SWITCH CONTROL via VenusOS MQTT ===\nportalId: c0619ab9929a | instances: 50 (sw1) et 51 (sw2)\nService type: 'switch' (sans EM) ou 'acload' (avec EM)\nPath Victron: /SwitchableOutput/0/State  →  0=OFF  1=ON",
        "info": "",
        "x": 710,
        "y": 20,
        "wires": []
    },
    {
        "id": "init-request",
        "type": "inject",
        "z": "b6e8da280e925b95",
        "name": "Lire état initial (R)",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 2,
        "topic": "",
        "payload": "",
        "payloadType": "str",
        "x": 470,
        "y": 100,
        "wires": [
            [
                "fn-request-sw50",
                "fn-request-sw51"
            ]
        ]
    },
    {
        "id": "fn-request-sw50",
        "type": "function",
        "z": "b6e8da280e925b95",
        "name": "Request SW50",
        "func": "msg.topic = 'R/c0619ab9929a/switch/50/SwitchableOutput/0/State';\nmsg.payload = '';\nreturn msg;",
        "outputs": 1,
        "x": 710,
        "y": 80,
        "wires": [
            [
                "mqtt-out-cmd"
            ]
        ]
    },
    {
        "id": "fn-request-sw51",
        "type": "function",
        "z": "b6e8da280e925b95",
        "name": "Request SW51",
        "func": "msg.topic = 'R/c0619ab9929a/switch/51/SwitchableOutput/0/State';\nmsg.payload = '';\nreturn msg;",
        "outputs": 1,
        "x": 710,
        "y": 120,
        "wires": [
            [
                "mqtt-out-cmd"
            ]
        ]
    },
    {
        "id": "sw50-on",
        "type": "inject",
        "z": "b6e8da280e925b95",
        "name": "SW50 → ON",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "topic": "W/c0619ab9929a/switch/50/SwitchableOutput/0/State",
        "payload": "{\"value\":1}",
        "payloadType": "json",
        "x": 470,
        "y": 200,
        "wires": [
            [
                "mqtt-out-cmd"
            ]
        ]
    },
    {
        "id": "sw50-off",
        "type": "inject",
        "z": "b6e8da280e925b95",
        "name": "SW50 → OFF",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "topic": "W/c0619ab9929a/switch/50/SwitchableOutput/0/State",
        "payload": "{\"value\":0}",
        "payloadType": "json",
        "x": 470,
        "y": 240,
        "wires": [
            [
                "mqtt-out-cmd"
            ]
        ]
    },
    {
        "id": "sw51-on",
        "type": "inject",
        "z": "b6e8da280e925b95",
        "name": "SW51 → ON",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "topic": "W/c0619ab9929a/switch/51/SwitchableOutput/0/State",
        "payload": "{\"value\":1}",
        "payloadType": "json",
        "x": 470,
        "y": 300,
        "wires": [
            [
                "mqtt-out-cmd"
            ]
        ]
    },
    {
        "id": "sw51-off",
        "type": "inject",
        "z": "b6e8da280e925b95",
        "name": "SW51 → OFF",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "topic": "W/c0619ab9929a/switch/51/SwitchableOutput/0/State",
        "payload": "{\"value\":0}",
        "payloadType": "json",
        "x": 470,
        "y": 340,
        "wires": [
            [
                "mqtt-out-cmd"
            ]
        ]
    },
    {
        "id": "mqtt-out-cmd",
        "type": "mqtt out",
        "z": "b6e8da280e925b95",
        "name": "Victron MQTT OUT",
        "topic": "",
        "qos": "0",
        "retain": "false",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "broker": "broker-victron",
        "x": 950,
        "y": 260,
        "wires": []
    },
    {
        "id": "mqtt-in-sw50",
        "type": "mqtt in",
        "z": "b6e8da280e925b95",
        "name": "État SW50",
        "topic": "N/c0619ab9929a/switch/50/SwitchableOutput/0/State",
        "qos": "0",
        "datatype": "json",
        "broker": "broker-victron",
        "nl": false,
        "rap": false,
        "rh": 0,
        "inputs": 0,
        "x": 470,
        "y": 440,
        "wires": [
            [
                "fn-parse-state-50"
            ]
        ]
    },
    {
        "id": "fn-parse-state-50",
        "type": "function",
        "z": "b6e8da280e925b95",
        "name": "Parser état SW50",
        "func": "var raw = msg.payload;\nvar val = (raw && raw.value !== undefined) ? raw.value : raw;\nvar label = (val == 1) ? 'ON ✅' : (val == 0) ? 'OFF ❌' : 'INCONNU (?)';\nflow.set('sw50_state', val);\nmsg.payload = { instance: 50, etat: label, valeur: val, raw: raw };\nmsg.topic = 'SW50';\nreturn msg;",
        "outputs": 1,
        "x": 710,
        "y": 440,
        "wires": [
            [
                "debug-sw50",
                "fn-log-state"
            ]
        ]
    },
    {
        "id": "debug-sw50",
        "type": "debug",
        "z": "b6e8da280e925b95",
        "name": "DEBUG SW50",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "payload.etat",
        "statusType": "auto",
        "x": 950,
        "y": 420,
        "wires": []
    },
    {
        "id": "mqtt-in-sw51",
        "type": "mqtt in",
        "z": "b6e8da280e925b95",
        "name": "État SW51",
        "topic": "N/c0619ab9929a/switch/51/SwitchableOutput/0/State",
        "qos": "0",
        "datatype": "json",
        "broker": "broker-victron",
        "nl": false,
        "rap": false,
        "rh": 0,
        "inputs": 0,
        "x": 470,
        "y": 520,
        "wires": [
            [
                "fn-parse-state-51"
            ]
        ]
    },
    {
        "id": "fn-parse-state-51",
        "type": "function",
        "z": "b6e8da280e925b95",
        "name": "Parser état SW51",
        "func": "var raw = msg.payload;\nvar val = (raw && raw.value !== undefined) ? raw.value : raw;\nvar label = (val == 1) ? 'ON ✅' : (val == 0) ? 'OFF ❌' : 'INCONNU (?)';\nflow.set('sw51_state', val);\nmsg.payload = { instance: 51, etat: label, valeur: val, raw: raw };\nmsg.topic = 'SW51';\nreturn msg;",
        "outputs": 1,
        "x": 710,
        "y": 520,
        "wires": [
            [
                "debug-sw51",
                "fn-log-state"
            ]
        ]
    },
    {
        "id": "debug-sw51",
        "type": "debug",
        "z": "b6e8da280e925b95",
        "name": "DEBUG SW51",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "payload.etat",
        "statusType": "auto",
        "x": 950,
        "y": 500,
        "wires": []
    },
    {
        "id": "fn-log-state",
        "type": "function",
        "z": "b6e8da280e925b95",
        "name": "Log combiné SW50+SW51",
        "func": "var sw50 = flow.get('sw50_state');\nvar sw51 = flow.get('sw51_state');\nvar fmt = function(v) { return (v == 1) ? 'ON' : (v == 0) ? 'OFF' : '?'; };\nmsg.payload = 'SW50=' + fmt(sw50) + '  |  SW51=' + fmt(sw51);\nreturn msg;",
        "outputs": 1,
        "x": 950,
        "y": 580,
        "wires": [
            [
                "debug-combined"
            ]
        ]
    },
    {
        "id": "debug-combined",
        "type": "debug",
        "z": "b6e8da280e925b95",
        "name": "État combiné",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "x": 1150,
        "y": 580,
        "wires": []
    },
    {
        "id": "comment-acload",
        "type": "comment",
        "z": "b6e8da280e925b95",
        "name": "⚠️  Si ton Shelly a de la mesure d'énergie (acload) :\nRemplacer 'switch' par 'acload' dans TOUS les topics MQTT.\nEx: N/c0619ab9929a/acload/50/SwitchableOutput/0/State",
        "info": "",
        "x": 710,
        "y": 640,
        "wires": []
    },
    {
        "id": "broker-victron",
        "type": "mqtt-broker",
        "name": "Pi5 MQTT",
        "broker": "dalybms-mosquitto",
        "port": "1883",
        "clientid": "nodered-shelly-ctrl",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true
    }
]