flux-nodered/test-venus-validation.json
[
  {
    "id": "broker_nanopi_venus",
    "type": "mqtt-broker",
    "name": "NanoPi 192.168.1.120:1883",
    "broker": "192.168.1.120",
    "port": "1883",
    "clientid": "nodered-venus-validation",
    "autoConnect": true,
    "usetls": false,
    "protocolVersion": "4",
    "keepalive": "60",
    "cleansession": true,
    "birthTopic": "",
    "birthQos": "0",
    "birthRetain": "false",
    "birthPayload": "",
    "closeTopic": "",
    "closeQos": "0",
    "closeRetain": "false",
    "closePayload": "",
    "willTopic": "",
    "willQos": "0",
    "willRetain": "false",
    "willPayload": ""
  },

  {
    "id": "tab_meteo_test",
    "type": "tab",
    "label": "⚠️ TEST Meteo (SUPPRIMER demain)",
    "disabled": false,
    "info": "Flow TEMPORAIRE — simulation capteur irradiance RS485.\nSupprimer quand le vrai capteur sera connecté.\nVérifier D-Bus : ssh root@192.168.1.120 'dbus -y com.victronenergy.meteo /Irradiance GetValue'"
  },
  {
    "id": "inj_meteo_auto",
    "type": "inject",
    "z": "tab_meteo_test",
    "name": "Simuler irradiance toutes les 30s",
    "props": [{ "p": "payload" }],
    "repeat": "30",
    "crontab": "",
    "once": true,
    "onceDelay": 1,
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "x": 200,
    "y": 100,
    "wires": [["fn_meteo_payload"]]
  },
  {
    "id": "inj_meteo_nuit",
    "type": "inject",
    "z": "tab_meteo_test",
    "name": "Forcer nuit (0 W/m²)",
    "props": [{ "p": "payload", "v": "0", "vt": "num" }],
    "repeat": "",
    "crontab": "",
    "once": false,
    "topic": "",
    "x": 180,
    "y": 160,
    "wires": [["fn_meteo_nuit"]]
  },
  {
    "id": "fn_meteo_payload",
    "type": "function",
    "z": "tab_meteo_test",
    "name": "Payload Meteo simulé",
    "func": "// SIMULATION — remplacer par vraie lecture RS485 demain\nvar h = new Date().getHours();\nvar irr = 0;\nif (h >= 7 && h <= 19) {\n    // Courbe sinusoïdale entre 7h et 19h, max midi\n    var t = (h - 7) / 12.0;\n    irr = Math.round(1000 * Math.sin(t * Math.PI));\n}\nmsg.payload = {\n    \"Irradiance\": Math.max(0, irr),\n    \"TodaysYield\": parseFloat((irr * 0.004).toFixed(2))\n};\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "x": 460,
    "y": 100,
    "wires": [["mqtt_meteo_out", "dbg_meteo"]]
  },
  {
    "id": "fn_meteo_nuit",
    "type": "function",
    "z": "tab_meteo_test",
    "name": "Meteo nuit",
    "func": "msg.payload = { \"Irradiance\": 0, \"TodaysYield\": 0 };\nreturn msg;",
    "outputs": 1,
    "x": 460,
    "y": 160,
    "wires": [["mqtt_meteo_out", "dbg_meteo"]]
  },
  {
    "id": "mqtt_meteo_out",
    "type": "mqtt out",
    "z": "tab_meteo_test",
    "name": "→ santuario/meteo/venus",
    "topic": "santuario/meteo/venus",
    "qos": "0",
    "retain": "true",
    "broker": "broker_nanopi_venus",
    "x": 700,
    "y": 100,
    "wires": []
  },
  {
    "id": "dbg_meteo",
    "type": "debug",
    "z": "tab_meteo_test",
    "name": "Meteo publié",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": true,
    "complete": "payload",
    "targetType": "msg",
    "x": 700,
    "y": 160,
    "wires": []
  },
  {
    "id": "txt_meteo_info",
    "type": "comment",
    "z": "tab_meteo_test",
    "name": "Vérification D-Bus après 1ère publication",
    "info": "ssh root@192.168.1.120\ndbus -y | grep meteo\ndbus -y com.victronenergy.meteo /Irradiance GetValue\ndbus -y com.victronenergy.meteo /TodaysYield GetValue",
    "x": 280,
    "y": 240,
    "wires": []
  },

  {
    "id": "tab_heatpump",
    "type": "tab",
    "label": "Heatpump / Chauffe-eau",
    "disabled": false,
    "info": "Validation com.victronenergy.heatpump.mqtt_1\nTopic : santuario/heatpump/1/venus\nConfig NanoPi : [[heatpumps]] mqtt_index=1 device_instance=201"
  },
  {
    "id": "inj_hp_on",
    "type": "inject",
    "z": "tab_heatpump",
    "name": "État ON — chauffe (State=2)",
    "props": [{ "p": "payload" }],
    "repeat": "",
    "crontab": "",
    "once": false,
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "x": 190,
    "y": 100,
    "wires": [["fn_hp_on"]]
  },
  {
    "id": "inj_hp_off",
    "type": "inject",
    "z": "tab_heatpump",
    "name": "État OFF — standby (State=0)",
    "props": [{ "p": "payload" }],
    "repeat": "",
    "crontab": "",
    "once": false,
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "x": 190,
    "y": 160,
    "wires": [["fn_hp_off"]]
  },
  {
    "id": "inj_hp_repeat",
    "type": "inject",
    "z": "tab_heatpump",
    "name": "Heartbeat 60s (retain keepalive)",
    "props": [{ "p": "payload" }],
    "repeat": "60",
    "crontab": "",
    "once": true,
    "onceDelay": 2,
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "x": 200,
    "y": 220,
    "wires": [["fn_hp_on"]]
  },
  {
    "id": "fn_hp_on",
    "type": "function",
    "z": "tab_heatpump",
    "name": "Payload Heatpump ON",
    "func": "// com.victronenergy.heatpump — State values :\n// 0=Standby, 1=On/Idle, 2=Heating, 3=Cooling, 4=Hot water, 5=Defrost\nmsg.payload = {\n    \"State\": 2,\n    \"Temperature\": 52.5,\n    \"TargetTemperature\": 55.0,\n    \"Ac\": {\n        \"Power\": 1200.0,\n        \"Energy\": {\n            \"Forward\": 145.3\n        }\n    },\n    \"Position\": 0\n};\nreturn msg;",
    "outputs": 1,
    "x": 460,
    "y": 100,
    "wires": [["mqtt_hp_out", "dbg_hp"]]
  },
  {
    "id": "fn_hp_off",
    "type": "function",
    "z": "tab_heatpump",
    "name": "Payload Heatpump OFF",
    "func": "msg.payload = {\n    \"State\": 0,\n    \"Temperature\": 48.0,\n    \"TargetTemperature\": 55.0,\n    \"Ac\": {\n        \"Power\": 0.0,\n        \"Energy\": {\n            \"Forward\": 145.3\n        }\n    },\n    \"Position\": 0\n};\nreturn msg;",
    "outputs": 1,
    "x": 460,
    "y": 160,
    "wires": [["mqtt_hp_out", "dbg_hp"]]
  },
  {
    "id": "mqtt_hp_out",
    "type": "mqtt out",
    "z": "tab_heatpump",
    "name": "→ santuario/heatpump/1/venus",
    "topic": "santuario/heatpump/1/venus",
    "qos": "0",
    "retain": "true",
    "broker": "broker_nanopi_venus",
    "x": 710,
    "y": 120,
    "wires": []
  },
  {
    "id": "dbg_hp",
    "type": "debug",
    "z": "tab_heatpump",
    "name": "Heatpump publié",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": true,
    "complete": "payload",
    "targetType": "msg",
    "x": 710,
    "y": 180,
    "wires": []
  },
  {
    "id": "txt_hp_info",
    "type": "comment",
    "z": "tab_heatpump",
    "name": "Vérification D-Bus",
    "info": "ssh root@192.168.1.120\ndbus -y com.victronenergy.heatpump.mqtt_1 /State GetValue\ndbus -y com.victronenergy.heatpump.mqtt_1 /Temperature GetValue\ndbus -y com.victronenergy.heatpump.mqtt_1 /Ac/Power GetValue\ndbus -y com.victronenergy.heatpump.mqtt_1 / GetItems\n\nState : 0=Standby, 1=Idle, 2=Heating, 3=Cooling, 4=HotWater, 5=Defrost",
    "x": 240,
    "y": 300,
    "wires": []
  },

  {
    "id": "tab_switch",
    "type": "tab",
    "label": "Switch / ATS",
    "disabled": false,
    "info": "Validation com.victronenergy.switch.mqtt_1\nTopic : santuario/switch/1/venus\nConfig NanoPi : [[switches]] mqtt_index=1 device_instance=301"
  },
  {
    "id": "inj_sw_reseau",
    "type": "inject",
    "z": "tab_switch",
    "name": "Position 0 — Réseau (AC1)",
    "props": [{ "p": "payload" }],
    "repeat": "",
    "crontab": "",
    "once": false,
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "x": 190,
    "y": 100,
    "wires": [["fn_sw_reseau"]]
  },
  {
    "id": "inj_sw_gen",
    "type": "inject",
    "z": "tab_switch",
    "name": "Position 1 — Générateur (AC2)",
    "props": [{ "p": "payload" }],
    "repeat": "",
    "crontab": "",
    "once": false,
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "x": 190,
    "y": 160,
    "wires": [["fn_sw_gen"]]
  },
  {
    "id": "inj_sw_alerte",
    "type": "inject",
    "z": "tab_switch",
    "name": "État ALERTE (State=2)",
    "props": [{ "p": "payload" }],
    "repeat": "",
    "crontab": "",
    "once": false,
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "x": 170,
    "y": 220,
    "wires": [["fn_sw_alerte"]]
  },
  {
    "id": "fn_sw_reseau",
    "type": "function",
    "z": "tab_switch",
    "name": "Switch → Réseau",
    "func": "// Position : 0=AC1 (Réseau), 1=AC2 (Générateur/Onduleur)\n// State    : 0=inactive, 1=active, 2=alerted\nmsg.payload = {\n    \"Position\": 0,\n    \"State\": 1\n};\nreturn msg;",
    "outputs": 1,
    "x": 450,
    "y": 100,
    "wires": [["mqtt_sw_out", "dbg_sw"]]
  },
  {
    "id": "fn_sw_gen",
    "type": "function",
    "z": "tab_switch",
    "name": "Switch → Générateur",
    "func": "msg.payload = {\n    \"Position\": 1,\n    \"State\": 1\n};\nreturn msg;",
    "outputs": 1,
    "x": 450,
    "y": 160,
    "wires": [["mqtt_sw_out", "dbg_sw"]]
  },
  {
    "id": "fn_sw_alerte",
    "type": "function",
    "z": "tab_switch",
    "name": "Switch → Alerte",
    "func": "msg.payload = {\n    \"Position\": 0,\n    \"State\": 2\n};\nreturn msg;",
    "outputs": 1,
    "x": 450,
    "y": 220,
    "wires": [["mqtt_sw_out", "dbg_sw"]]
  },
  {
    "id": "mqtt_sw_out",
    "type": "mqtt out",
    "z": "tab_switch",
    "name": "→ santuario/switch/1/venus",
    "topic": "santuario/switch/1/venus",
    "qos": "0",
    "retain": "true",
    "broker": "broker_nanopi_venus",
    "x": 700,
    "y": 140,
    "wires": []
  },
  {
    "id": "dbg_sw",
    "type": "debug",
    "z": "tab_switch",
    "name": "Switch publié",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": true,
    "complete": "payload",
    "targetType": "msg",
    "x": 700,
    "y": 200,
    "wires": []
  },
  {
    "id": "txt_sw_info",
    "type": "comment",
    "z": "tab_switch",
    "name": "Vérification D-Bus",
    "info": "ssh root@192.168.1.120\ndbus -y com.victronenergy.switch.mqtt_1 /Position GetValue\ndbus -y com.victronenergy.switch.mqtt_1 /State GetValue\ndbus -y com.victronenergy.switch.mqtt_1 / GetItems\n\nPosition : 0=AC1/Réseau  1=AC2/Générateur\nState    : 0=inactive    1=active    2=alerted",
    "x": 240,
    "y": 320,
    "wires": []
  },

  {
    "id": "tab_platform",
    "type": "tab",
    "label": "Platform Pi5",
    "disabled": false,
    "info": "Validation com.victronenergy.platform (singleton)\nTopic fixe : santuario/platform/venus\nPas de config.toml nécessaire — singleton activé par défaut si venus.enabled=true"
  },
  {
    "id": "inj_plt_ok",
    "type": "inject",
    "z": "tab_platform",
    "name": "Backup OK",
    "props": [{ "p": "payload" }],
    "repeat": "",
    "crontab": "",
    "once": false,
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "x": 160,
    "y": 100,
    "wires": [["fn_plt_ok"]]
  },
  {
    "id": "inj_plt_running",
    "type": "inject",
    "z": "tab_platform",
    "name": "Backup en cours",
    "props": [{ "p": "payload" }],
    "repeat": "",
    "crontab": "",
    "once": false,
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "x": 170,
    "y": 160,
    "wires": [["fn_plt_running"]]
  },
  {
    "id": "inj_plt_error",
    "type": "inject",
    "z": "tab_platform",
    "name": "Backup erreur",
    "props": [{ "p": "payload" }],
    "repeat": "",
    "crontab": "",
    "once": false,
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "x": 160,
    "y": 220,
    "wires": [["fn_plt_error"]]
  },
  {
    "id": "inj_plt_heartbeat",
    "type": "inject",
    "z": "tab_platform",
    "name": "Heartbeat idle (60s)",
    "props": [{ "p": "payload" }],
    "repeat": "60",
    "crontab": "",
    "once": true,
    "onceDelay": 3,
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "x": 180,
    "y": 280,
    "wires": [["fn_plt_ok"]]
  },
  {
    "id": "fn_plt_ok",
    "type": "function",
    "z": "tab_platform",
    "name": "Platform Backup OK",
    "func": "// Status : 0=idle, 1=running, 2=OK, 3=error\n// LastRun : timestamp Unix secondes\nmsg.payload = {\n    \"Backup\": {\n        \"Status\": 2,\n        \"LastRun\": Math.floor(Date.now() / 1000)\n    },\n    \"Restore\": {\n        \"Status\": 0,\n        \"LastRun\": 0\n    }\n};\nreturn msg;",
    "outputs": 1,
    "x": 450,
    "y": 100,
    "wires": [["mqtt_plt_out", "dbg_plt"]]
  },
  {
    "id": "fn_plt_running",
    "type": "function",
    "z": "tab_platform",
    "name": "Platform Backup running",
    "func": "msg.payload = {\n    \"Backup\": {\n        \"Status\": 1,\n        \"LastRun\": Math.floor(Date.now() / 1000)\n    },\n    \"Restore\": {\n        \"Status\": 0,\n        \"LastRun\": 0\n    }\n};\nreturn msg;",
    "outputs": 1,
    "x": 460,
    "y": 160,
    "wires": [["mqtt_plt_out", "dbg_plt"]]
  },
  {
    "id": "fn_plt_error",
    "type": "function",
    "z": "tab_platform",
    "name": "Platform Backup error",
    "func": "msg.payload = {\n    \"Backup\": {\n        \"Status\": 3,\n        \"LastRun\": Math.floor(Date.now() / 1000)\n    },\n    \"Restore\": {\n        \"Status\": 0,\n        \"LastRun\": 0\n    }\n};\nreturn msg;",
    "outputs": 1,
    "x": 450,
    "y": 220,
    "wires": [["mqtt_plt_out", "dbg_plt"]]
  },
  {
    "id": "mqtt_plt_out",
    "type": "mqtt out",
    "z": "tab_platform",
    "name": "→ santuario/platform/venus",
    "topic": "santuario/platform/venus",
    "qos": "0",
    "retain": "true",
    "broker": "broker_nanopi_venus",
    "x": 710,
    "y": 140,
    "wires": []
  },
  {
    "id": "dbg_plt",
    "type": "debug",
    "z": "tab_platform",
    "name": "Platform publié",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": true,
    "complete": "payload",
    "targetType": "msg",
    "x": 710,
    "y": 200,
    "wires": []
  },
  {
    "id": "txt_plt_info",
    "type": "comment",
    "z": "tab_platform",
    "name": "Vérification D-Bus",
    "info": "ssh root@192.168.1.120\ndbus -y | grep platform\ndbus -y com.victronenergy.platform /Backup/Status GetValue\ndbus -y com.victronenergy.platform /Backup/LastRun GetValue\ndbus -y com.victronenergy.platform / GetItems\n\nStatus : 0=idle  1=running  2=OK  3=error",
    "x": 240,
    "y": 380,
    "wires": []
  }
]
